<volist name="list" id="vo">
    <div class="wa-list">

        <div class="weui-row">
            <div class="weui-col-30">
            <span class="text">
               <label class="tqk-f-l"><i class="iconfont <if condition="$tab eq 7">tqk-jingdong<else/>tqk-tianmaoT</if> tqk-c-red"></i> {$vo.platform}</label>
              </span>
            </div>
            <div class="weui-col-70">{$vo.updateTime}</div>
        </div>

        <div class="weui-row">
            <div class="weui-col-60">
                    {$vo.contentCopy}
                <br/><br/>
                <if condition="$tab eq 7">
                    <a href="javascript:;" url="{:base64_encode($vo['content'])}" rel="{:base64_encode($vo['contentCopy'])}" class="weui-btn weui-btn_mini weui-btn_warn getjdlink">马上抢</a>
                    <else/>
                    <a href="javascript:;" url="{$vo.urls}" rel="{$vo.itemIds}" class="weui-btn weui-btn_mini weui-btn_warn copylink">马上抢</a>
                </if>
            </div>

            <div class="weui-col-40 tqk-text-r">
                <if condition="$vo['picUrls']">
                    <a href="{$vo.picUrls}" target="_blank"><img src="{$vo.picUrls}" height="100"></a>
                </if>
            </div>
        </div>


    </div>

</volist>