<include file="Public:top" />
<body>
	<include file="Public:head" />
	<!--wrap-->
	<div class="wrap">
		<div class="container cl">
			<include file="nav" />
			<div class="mianbar">
			
				<div class="subnav">
					<table class="table table-border table-bg">
						<thead>
							<tr>
								<th>付款时间</th>
								<th width="35%">订单编号</th>
								<th>付款金额</th>
								<th>预计收益</th>
								<th>状态</th>
								<th>结算时间</th>
							</tr>
						</thead>
						<tbody>
							<volist name="list" id="vo">
								<tr>
									<td>{$vo.add_time|frienddate}</td>
									<td>{$vo.orderid}
									</td> 
									<td><b class="c-main">
										<if condition="$vo['price']">
											{$vo.price}
											<else/>
											--
										</if>
									</b></td>
									<td>
										￥{$vo.income}
									</td>
									<td>
										{$vo.status}
									</td>
									<td><if condition="$vo['up_time']">
										{$vo.up_time|frienddate}
										<else/>
										--
									</if></td>
							</tr>
						</volist>
					</tbody>
				</table>
				<div class="page cl">
					<div class="f-r pd-10">
						<if condition="$total_item gt $page_size">
							{$page}
						</if>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<include file="Public:foot" />	
</body>
</html>
