<include file="Public:top" />
	<body>
<include file="Public:head" />
<script src="__STATIC__/tqkpc/laydate/laydate.js"></script>
		<!--wrap-->
		<div class="wrap">
			<div class="container cl">
			<include file="nav" />
				<div class="mianbar">
					<div class="subnav mb-20">
						<div class="report-tit">
							<h4>站长累计收益金额</h4>
							<h2><span>￥</span>2000000.00</h2>
							<p class="c-999">每月20日结算上月预估收入，本月预估收入则在下月20日结算</p>
						</div>
						<div class="report-money flexbox">
							<div class="report-oval oval-1">
								<h4><span>￥</span>200.00</h4>
								<p>昨日预估金额</p>
							</div>
							<div class="report-oval oval-2">
								<h4><span>￥</span>20000.00</h4>
								<p>本月预估金额</p>
							</div>
							<div class="report-oval oval-3">
								<h4><span>￥</span>20000.00</h4>
								<p>上月收益</p>
							</div>
						</div>
						<div class="report-num flexbox">
							<div class="report-num-item">
								<p>昨日订单数量：</p>
								<h4>10<span>笔</span></h4>
							</div>
							<div class="report-num-item">
								<p>本月订单数量：</p>
								<h4>100<span>笔</span></h4>
							</div>
							<div class="report-num-item">
								<p>上月订单数量：</p>
								<h4>2000<span>笔</span></h4>
							</div>
						</div>
					</div>
					<div class="subnav">
						<div class="report-det">
							<div class="tabBar clearfix">
								<span><a href="javascript:;">所有订单</a></span>
								<span><a href="javascript:;">已付款</a></span>
								<span><a href="javascript:;">已结算</a></span>
								<span><a href="javascript:;">已失效</a></span>
							</div>
							<div class="tabCon">
								<div class="report-time">
									<label>时间：</label>
									<input type="text" class="input-text" id="start1">-
									<input type="text" class="input-text" id="end1">
								</div>
								<div class="report-table">
									<table class="table">
										<tr>
											<th>序号</th>
											<th>商品</th>
											<th>下单时间</th>
											<th>付款金额</th>
											<th>预估收入</th>
											<th>状态</th>
										</tr>
										<tr>
											<td width="10%">999</td>
											<td width="30%"><a href="" class="c-primary text-overflow">laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......</a></td>
											<td width="20%">2017-11-06  14:22</td>
											<td width="15%">￥320.00</td>
											<td width="15%"><b class="c-main">￥10.00</b></td>
											<td width="10%"><span class="btn btn-primary size-S state">已付款</span></td>
										</tr>
										<tr>
											<td>999</td>
											<td><a href="" class="c-primary text-overflow">laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......</a></td>
											<td>2017-11-06  14:22</td>
											<td>￥320.00</td>
											<td><b class="c-main">￥10.00</b></td>
											<td><span class="btn btn-success size-S state">已结算</span></td>
										</tr>
										<tr>
											<td>999</td>
											<td><a href="" class="c-primary text-overflow">laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......</a></td>
											<td>2017-11-06  14:22</td>
											<td>￥320.00</td>
											<td><b class="c-main">￥10.00</b></td>
											<td><span class="btn btn-default size-S state">已失效</span></td>
										</tr>
										<tr>
											<td>999</td>
											<td><a href="" class="c-primary text-overflow">laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......</a></td>
											<td>2017-11-06  14:22</td>
											<td>￥320.00</td>
											<td><b class="c-main">￥10.00</b></td>
											<td><span class="btn btn-primary size-S state">已付款</span></td>
										</tr>
										<tr>
											<td>999</td>
											<td><a href="" class="c-primary text-overflow">laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......</a></td>
											<td>2017-11-06  14:22</td>
											<td>￥320.00</td>
											<td><b class="c-main">￥10.00</b></td>
											<td><span class="btn btn-primary size-S state">已付款</span></td>
										</tr>
									</table>
									<div class="page cl">
										<div class="f-r pd-10">
										<if condition="$total_item gt $page_size">
										{$page}
										</if>
										</div>
									</div>
								</div>
							</div>
							<div class="tabCon">
								<div class="report-time">
									<label>时间：</label>
									<input type="text" class="input-text" id="start2">-
									<input type="text" class="input-text" id="end2">
								</div>
								<div class="report-table">
									<table class="table">
										<tr>
											<th>序号</th>
											<th>商品</th>
											<th>下单时间</th>
											<th>付款金额</th>
											<th>预估收入</th>
											<th>状态</th>
										</tr>
										<tr>
											<td width="10%">999</td>
											<td width="30%"><a href="" class="c-primary text-overflow">laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......</a></td>
											<td width="20%">2017-11-06  14:22</td>
											<td width="15%">￥320.00</td>
											<td width="15%"><b class="c-main">￥10.00</b></td>
											<td width="10%"><span class="btn btn-primary size-S state">已付款</span></td>
										</tr>
										<tr>
											<td>999</td>
											<td><a href="" class="c-primary text-overflow">laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......</a></td>
											<td>2017-11-06  14:22</td>
											<td>￥320.00</td>
											<td><b class="c-main">￥10.00</b></td>
											<td><span class="btn btn-success size-S state">已结算</span></td>
										</tr>
										<tr>
											<td>999</td>
											<td><a href="" class="c-primary text-overflow">laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......</a></td>
											<td>2017-11-06  14:22</td>
											<td>￥320.00</td>
											<td><b class="c-main">￥10.00</b></td>
											<td><span class="btn btn-default size-S state">已失效</span></td>
										</tr>
										<tr>
											<td>999</td>
											<td><a href="" class="c-primary text-overflow">laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......</a></td>
											<td>2017-11-06  14:22</td>
											<td>￥320.00</td>
											<td><b class="c-main">￥10.00</b></td>
											<td><span class="btn btn-primary size-S state">已付款</span></td>
										</tr>
										<tr>
											<td>999</td>
											<td><a href="" class="c-primary text-overflow">laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......</a></td>
											<td>2017-11-06  14:22</td>
											<td>￥320.00</td>
											<td><b class="c-main">￥10.00</b></td>
											<td><span class="btn btn-primary size-S state">已付款</span></td>
										</tr>
										<tr>
											<td>999</td>
											<td><a href="" class="c-primary text-overflow">laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......</a></td>
											<td>2017-11-06  14:22</td>
											<td>￥320.00</td>
											<td><b class="c-main">￥10.00</b></td>
											<td><span class="btn btn-success size-S state">已结算</span></td>
										</tr>
										<tr>
											<td>999</td>
											<td><a href="" class="c-primary text-overflow">laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......</a></td>
											<td>2017-11-06  14:22</td>
											<td>￥320.00</td>
											<td><b class="c-main">￥10.00</b></td>
											<td><span class="btn btn-default size-S state">已失效</span></td>
										</tr>
									</table>
									<div class="page cl">
										<div class="f-r pd-10">
										<if condition="$total_item gt $page_size">
										{$page}
										</if>
										</div>
									</div>
								</div>
							</div>
							<div class="tabCon">
								<div class="report-time">
									<label>时间：</label>
									<input type="text" class="input-text" id="start3">-
									<input type="text" class="input-text" id="end3">
								</div>
								<div class="report-table">
									<table class="table">
										<tr>
											<th>序号</th>
											<th>商品</th>
											<th>下单时间</th>
											<th>付款金额</th>
											<th>预估收入</th>
											<th>状态</th>
										</tr>
										<tr>
											<td width="10%">999</td>
											<td width="30%"><a href="" class="c-primary text-overflow">laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......</a></td>
											<td width="20%">2017-11-06  14:22</td>
											<td width="15%">￥320.00</td>
											<td width="15%"><b class="c-main">￥10.00</b></td>
											<td width="10%"><span class="btn btn-primary size-S state">已付款</span></td>
										</tr>
										<tr>
											<td>999</td>
											<td><a href="" class="c-primary text-overflow">laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......</a></td>
											<td>2017-11-06  14:22</td>
											<td>￥320.00</td>
											<td><b class="c-main">￥10.00</b></td>
											<td><span class="btn btn-primary size-S state">已付款</span></td>
										</tr>
									</table>
									<div class="page cl">
										<div class="f-r pd-10">
										<if condition="$total_item gt $page_size">
										{$page}
										</if>
										</div>
									</div>
								</div>
							</div>
							<div class="tabCon">
								<div class="report-time">
									<label>时间：</label>
									<input type="text" class="input-text" id="start4">-
									<input type="text" class="input-text" id="end4">
								</div>
								<div class="report-table">
									<table class="table">
										<tr>
											<th>序号</th>
											<th>商品</th>
											<th>下单时间</th>
											<th>付款金额</th>
											<th>预估收入</th>
											<th>状态</th>
										</tr>
										<tr>
											<td width="10%">999</td>
											<td width="30%"><a href="" class="c-primary text-overflow">laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......laimeiyoga 健身房跑步运动女三件套......</a></td>
											<td width="20%">2017-11-06  14:22</td>
											<td width="15%">￥320.00</td>
											<td width="15%"><b class="c-main">￥10.00</b></td>
											<td width="10%"><span class="btn btn-primary size-S state">已付款</span></td>
										</tr>
									</table>
									<div class="page cl">
										<div class="f-r pd-10">
										<if condition="$total_item gt $page_size">
										{$page}
										</if>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<include file="Public:foot" />	
	<script type="text/javascript">
		$(function(){
			$.Huitab(".report-det .tabBar span",".report-det .tabCon","current","click","0")
//			lay('.report-time .input-text').each(function(){
//			  laydate.render({
//			    elem: this,
//			    trigger: 'click',
//			    range: true ,
//			    max: 'yyyy-MM-dd',
//			    theme: 'grid'
//			  });
//			}); 
			var startDate1 = laydate.render({
				elem: '#start1',
				max: 'yyyy-MM-dd',
				done: function(value, date) {
					if(value !== '') {
						endDate1.config.min.year = date.year;
						endDate1.config.min.month = date.month - 1;
						endDate1.config.min.date = date.date;
					} else {
						endDate1.config.min.year = '';
						endDate1.config.min.month = '';
						endDate1.config.min.date = '';
					}
				}
			});
			var endDate1 = laydate.render({
				elem: '#end1',
				max: 'yyyy-MM-dd',
				done: function(value, date) {
					if(value !== '') {
						startDate1.config.max.year = date.year;
						startDate1.config.max.month = date.month - 1;
						startDate1.config.max.date = date.date;
					} else {
						startDate1.config.max.year = '';
						startDate1.config.max.month = '';
						startDate1.config.max.date = '';
					}
				}
			});
			var startDate2 = laydate.render({
				elem: '#start2',
				max: 'yyyy-MM-dd',
				done: function(value, date) {
					if(value !== '') {
						endDate2.config.min.year = date.year;
						endDate2.config.min.month = date.month - 1;
						endDate2.config.min.date = date.date;
					} else {
						endDate2.config.min.year = '';
						endDate2.config.min.month = '';
						endDate2.config.min.date = '';
					}
				}
			});
			var endDate2 = laydate.render({
				elem: '#end2',
				max: 'yyyy-MM-dd',
				done: function(value, date) {
					if(value !== '') {
						startDate2.config.max.year = date.year;
						startDate2.config.max.month = date.month - 1;
						startDate2.config.max.date = date.date;
					} else {
						startDate2.config.max.year = '';
						startDate2.config.max.month = '';
						startDate2.config.max.date = '';
					}
				}
			});
			var startDate3 = laydate.render({
				elem: '#start3',
				max: 'yyyy-MM-dd',
				done: function(value, date) {
					if(value !== '') {
						endDate3.config.min.year = date.year;
						endDate3.config.min.month = date.month - 1;
						endDate3.config.min.date = date.date;
					} else {
						endDate3.config.min.year = '';
						endDate3.config.min.month = '';
						endDate3.config.min.date = '';
					}
				}
			});
			var endDate3 = laydate.render({
				elem: '#end3',
				max: 'yyyy-MM-dd',
				done: function(value, date) {
					if(value !== '') {
						startDate3.config.max.year = date.year;
						startDate3.config.max.month = date.month - 1;
						startDate3.config.max.date = date.date;
					} else {
						startDate3.config.max.year = '';
						startDate3.config.max.month = '';
						startDate3.config.max.date = '';
					}
				}
			});
			var startDate4 = laydate.render({
				elem: '#start4',
				max: 'yyyy-MM-dd',
				done: function(value, date) {
					if(value !== '') {
						endDate4.config.min.year = date.year;
						endDate4.config.min.month = date.month - 1;
						endDate4.config.min.date = date.date;
					} else {
						endDate4.config.min.year = '';
						endDate4.config.min.month = '';
						endDate4.config.min.date = '';
					}
				}
			});
			var endDate4 = laydate.render({
				elem: '#end4',
				max: 'yyyy-MM-dd',
				done: function(value, date) {
					if(value !== '') {
						startDate4.config.max.year = date.year;
						startDate4.config.max.month = date.month - 1;
						startDate4.config.max.date = date.date;
					} else {
						startDate4.config.max.year = '';
						startDate4.config.max.month = '';
						startDate4.config.max.date = '';
					}
				}
			});
		});
	</script>
	</body>
</html>
