<include file="Public:head_nosearch" />
<style>img{display: block;margin: 5rem auto 3rem;}a.am-btn{border-radius: 4px;}</style>
	<body>
		<header data-am-widget="header" class="am-header am-header-default am-header-fixed main-nav">
	      	<div class="am-header-left am-header-nav">
			    <a href="javascript:history.go(-1);" class="iconfont icon-left"></a>
			</div>
			<h1 class="am-header-title">404页面</h1>
		</header>
		<div class="am-container am-text-center" style="padding-bottom: 7rem;">
			<img src="__STATIC__/images/404wap.png" width="298" />
			<a href="/" class="am-btn btn-main">返回首页</a>
		</div>
	</body>
<include file="Public:foot" />
