<!--商品列表-->
<div class="subnav">
	<div class="content_menu ib_a blue line_x">
	<a class="add fb"  href="{:u('setting/index')}"><em>基本设置</em></a>
	 <a class="add fb"  href="{:u('setting/wechat')}" style="background:#2979ff;"><em style="background:#2979ff;">公众号设置</em></a>
    <a class="add fb"  href="{:u('setting/miniapp')}" style="background:#fa3534;"><em style="background:#fa3534;">小程序设置</em></a>
	<a class="add fb"  href="{:u('setting/sms')}" style="background:#ff9900;"><em style="background:#ff9900;">其它设置</em></a>
	<a class="add fb"  href="{:u('setting/payment')}" style="background:#909399;"><em style="background:#909399;">提现设置</em></a>
	</div>

</div>