<include file="Public:tqk-meta" />
	<body>
<include file="Public:tqk-head" />

<div class="layui-fluid tqk-index-grey">
<div class="layui-container container">
<div class="tqk-pt-20"></div>
<div class="tqk-bg-white">


<div class="flexbox">
	
	   <div class="layui-col-md12">
   
   
   	<div class="tqk-text-c msg" style="display: block;margin: 50px auto 30px;">
			<img src="__SKIN2__/static/tqkpc/images/404.png" width="548" />
			<div><a href="/" class="btn btn-main size-L mb-50">返回首页</a></div>
	</div>
   
   
	   </div>
  </div>
	
</div>


<div class="tqk-mt-30">
	
<div class="layui-clear tqk-pb-20"></div>	

</div>


</div>

<div class="tqk-pt-20"></div>

</div>
</div>

<include file="Public:tqk-foot" />
</body>
</html>
