<include file="NewPublic:meta" />
<body>
	<div class="pagebox">
		<div class="weui-tab">

			<div class="swiper mySwiper" style="margin:0 auto;">
				<a href="javascript:history.back(-1)" class="iconfont tqk-fanhuiiconx"
					style="background: rgba(0, 0, 0, 0.3); color: rgb(255, 255, 255);"></a>
				<div class="swiper-wrapper">
					<if condition="$item['pic_urls']">
						<volist name="item.pic_urls" key="k" id="img">
							<div class="swiper-slide"><img src="{$img}_480x480.jpg" alt=""></div>
						</volist>
						<else />
						<div class="swiper-slide"><img src="{$item.pic_url}_480x480.jpg" alt=""></div>
					</if>

				</div>
				<div class="swiper-scrollbar"></div>
				<if condition="($visitor or $isfanli eq 0) and $isfanli neq 2">
					<span class="share-info">
						预计返￥{:Rebate1($item['coupon_price']*$item['commission_rate']/10000,$visitor['webmaster_rate'])}</span>
				</if>
			</div>

			<div class="box-title tqk-p-5">

				<div class="weui-row">
					<div class="weui-col-66">
						<i class="tqk-c-red">￥</i>
						<label class="coupon_price tqk-c-red">{$item.coupon_price}</label>
						<label class="through_price tqk-pl-5">原价 ￥{$item.price}</label>
					</div>
					<div class="weui-col-33 tqk-line-200">已售<i class="tqk-c-red">{$item.volume}</i>件</div>
				</div>

				<div class="goods_title">
					<if condition="$item['shop_type'] eq 'B'">
						<i class="iconfont tqk-tianmaoT tqk-c-red"></i>
						<else />
						<i class="iconfont tqk-taobao1 tqk-c-red"></i>
					</if>
					{$item.title}
				</div>


				<div class="coupon-box">
					<div class="coupon-left">
						￥<i>{:$item['quan']?$item['quan']:0}</i>
						<label>
							使用期限：
							{:date('m.d',$item['coupon_start_time'])}-{:date('m.d',$item['coupon_end_time'])}
						</label>
					</div>
					<div class="coupon-right">
						<a href="javascript:half();">
							立即领取</a>
					</div>
				</div>


			</div>

			<if condition="$item['intro']">
				<div class="clear" style="padding-top: .5rem;"></div>

				<div class="tqk-bg-white copywriting tqk-rad-12">
					<div class="recommend-user">推荐理由</div>
					<div class="recommend-desc">{$item.intro}</div>
				</div>
			</if>

			<if condition="$item['pic_urls']">
				<div class="clear" style="padding-top: .5rem;"></div>
				<div class="tqk-bg-white tqk-rad-12">
					<div class="goods-des-title">
						<div class="phb-content-title"><span>商品详情</span></div>
					</div>
					<div class="goods-des" style="padding-top: 1rem;">
						<volist name="item.pic_urls" key="k" id="img">
							<img src="{$img}" align="absmiddle">
						</volist>
					</div>
				</div>
			</if>

		
<if condition="$orlike">
	<div class="clear" style="padding-top: .5rem;"></div>
			<div class="tqk-rad-12">
				<div class="goods-des-title">
					<div class="phb-content-title"><span>为你推荐</span></div>
				</div>
				<div class="goods-des">


					<div class="weui-row weui-no-gutter">
						<volist name="orlike" id="val">
							<div class="weui-col-50 ">

								<div class="goods-col tqk-bg-white tqk-rad-12">
									<div class="goods-vertical">
										<div>
											<div class="pic">
												<a href="{:U('item/index',array('id'=>$val['num_iid']))}{$trackurl}"><img
														src="{$val.pic_url}_300x300.jpg"></a>
												<if condition="($visitor or $isfanli eq 0) and $isfanli neq 2">
													<span class="share-info">
														预计返￥{:Rebate1($val['coupon_price']*$val['commission_rate']/10000,$visitor['webmaster_rate'])}</span>
												</if>
											</div>
											<div class="title">
												<i class="iconfont <if condition=" $val['shop_type']
													eq 'B'">tqk-tianmaoT<else/>tqk-taobao1</if> tqk-c-red"></i>
												{$val.title}
											</div>
											<div class="my">
												<span class="my_qh">券后</span>
												<div class="fl"><i>¥</i><span class="price">{$val.coupon_price}</span>
												</div>
											</div>
											<if condition="$val.quan">
												<div class="tag">
													<div class="fr"><span class="tags_quan"><span class="quan">券</span>
															<span>{$val.quan}元</span></span></div>
												</div>
											</if>
											<div class="num">已售{$val.volume}</div>
										</div>
									</div>
								</div>


							</div>

						</volist>



					</div>


				</div>
			</div>

</if>

		</div>


	</div>

	<div class="footzw"> </div>


	<div class="footer" id="box">
		<a class="lina" href="/">
			<i class="iconfont tqk-shouye1"></i>
			<span>首页</span>
		</a>
		<a class="lina" href="javascript:ShareBtn();">
			<i class="iconfont tqk-fenxiao"></i>
			<span>分享</span>
		</a>
		<div>
			<span class="right">
				<span class="code">
					<a href="javascript:half(1);" class="code_text">
						淘口令下单
					</a>
				</span>
				<a class="buy" href="javascript:half();">
					立即领券
				</a>
			</span>

		</div>


	</div>



	<div id="half" class='weui-popup__container popup-bottom'>
		<div class="weui-popup__overlay"></div>
		<div class="weui-popup__modal">
			<div class="toolbar">
				<div class="toolbar-inner">
					<a href="javascript:;" class="picker-button close-popup iconfont tqk-xiangzuojiantou"></a>
					<h1 class="title">淘口令购买</h1>
				</div>
			</div>
			<div class="modal-content">
				<div class="weui-grids">
					<div class="copy-box">
						<div class="am-panel am-panel-danger">
							<div class="am-panel-hd">复制下方口令↓↓ 打开【手机淘宝】即可购买！</div>
							<div class="am-panel-bd">
								<h4 id="CopyMsg">{$item.quankouling}</h4>
							</div>
						</div>
						<a href="javascript:;" id="copy_btn" style="width: 60%;height:2rem;font-size:0.8rem"
							class="weui-btn weui-btn_warn copya">一键复制</a>
						<a href="javascript:$.closePopup();" style="width: 60%;height:2rem;font-size:0.8rem"
							class="weui-btn weui-btn_default">关闭页面</a>

					</div>

				</div>
			</div>
		</div>
	</div>

	<div id="share" class='weui-popup__container popup-bottom'>
		<div class="weui-popup__overlay"></div>
		<div class="weui-popup__modal">
			<div class="toolbar">
				<div class="toolbar-inner">
					<a href="javascript:;" class="picker-button close-popup iconfont tqk-xiangzuojiantou"></a>
					<h1 class="title">分享文案</h1>
				</div>
			</div>
			<div class="modal-content">
				<div class="weui-grids">
					<div class="copy-box">
						<div class="am-panel am-panel-danger">
							<div class="am-panel-hd">分享给Ta人购买，获得返利。</div>
							<div class="am-panel-bd">
								<h4 id="CopyMsg2">
									<textarea maxlength="200" id="getCode" enterkeyhint="return" class="sharebox"
										style="overflow-y: auto;">
{$item.title}&#13;
【售价】：￥{$item.price}&#13;<if condition="$item['quan'] gt 0">
【券后】：￥{$item.coupon_price}&#13;
【优惠券】：￥{$item.quan}</if><if condition="$item['intro']"> &#13;推荐理由：{$item.intro}</if>
 &#13;👉复制这条信息{:explode('https:',$item['quankouling'])[0]}打开【手机淘宝APP】即可领券购买:/
</textarea>
								</h4>
							</div>
						</div>
						<button data-clipboard-target="#getCode" id="copy_share"
							style="width: 60%;height:2rem;font-size:0.8rem" class="weui-btn weui-btn_warn">一键复制</button>
						<a href="javascript:$.closePopup();" style="width: 60%;height:2rem;font-size:0.8rem"
							class="weui-btn weui-btn_default">关闭页面</a>

					</div>

				</div>
			</div>
		</div>
	</div>

	<include file="Item:foot" />
	<include file="Public:stat" />
</body>
</html>
