<include file="Public:tqk-meta" />
	<body>
<include file="Public:tqk-head" />
<div class="layui-fluid tqk-index-grey">
<div class="layui-container container">
<div class="tqk-pt-20"></div>
<div>

<div class="filter-items">
			<ul class="row-channel clearfix">
				<li <if condition="$cid eq ''">class="active"</if>><a href="{:U('/cate')}">全部商品</a></li>
				<volist name="ItemCate.p" id="vo" offset="0" length="15">
				<li <if condition="$cid eq $vo['id']">class="active"</if>><a href="{:U('/cate/',array('cid'=>$vo['id']))}{$trackurl}">{$vo.name}</a></li>
			</volist>
			</ul>
			<if condition="$cid">
			<php>
			$Catepid = $ItemCate['s'][$cid];
		   </php>
			<div class="row-site row-item">
						<span class="items">
							<volist name="Catepid" id="vt">
							<a href="{:U('/cate/',array('cid'=>$cid,'sid'=>$vt['ali_id']))}{$trackurl}" <if condition="$sid eq $vt['ali_id']">class="active"</if>>
							<img class="img" src="{$vt.remark}" width="45" height="45"/>
								{$vt.name}
							</a>
							</volist>
						</span>
				</div>         
			 </if>
			 
			 
			 <if condition="$k">
			 <div class="brand indexblock" style="margin-top: 8px;">
			 <div class="tit">
			 当前位置：<a href="/">首页</a> &gt; <a href="{:U('/cate/')}">淘宝优惠券</a> &gt; <a href="{:U('cate/index',array('k'=>$k))}">{$k}</a>
			 </div>
			 <div class="index_jian">
			 <p>
			{$page_seo.description}
			 </p>
			 <if condition="$likekey">
			 <div class="jl">
			 您是不是想找：
			  <volist name="likekey" id="ht">
			 <a href="{:U('/cate/',array('k'=>$ht[0]))}">{:$ht[0]}</a> 
			  </volist> 
			 </div>
			 </if>
			 </div>
			 <div style="clear: both; padding-top: 10px;"></div>
			 </div>	
			 </if>
			 
				<div class="row-item row-order clearfix">
				<span class="lab">排序：</span>
				<div class="wrap">
                        <span class="items">
                            <a href="{:U("/cate/",array('sort'=>'new','stype'=>$stype,'cid'=>$cid,'sid'=>$sid,'coupon'=>$cou))}?k={:urldecode($k)}" 
                            	<if condition='$txt_sort eq "new"'>class="active"</if>>最新</a>
                            <i class="join">|</i>
                            <a href="{:U("/cate/",array('sort'=>'hot','stype'=>$stype,'cid'=>$cid,'sid'=>$sid,'coupon'=>$cou))}?k={:urldecode($k)}"
                            	<if condition='$txt_sort eq "hot"'>class="active"</if>>销量</a>
							<i class="join">|</i>
                            <a href="{:U("/cate/",array('sort'=>'price','stype'=>$stype,'cid'=>$cid,'sid'=>$sid,'coupon'=>$cou))}?k={:urldecode($k)}"
                            	<if condition='$txt_sort eq "price"'>class="active"</if>>券后价</a>
                            	<i class="join">|</i>
                            <a href="{:U("/cate/",array('sort'=>'rate','stype'=>$stype,'cid'=>$cid,'sid'=>$sid,'coupon'=>$cou))}?k={:urldecode($k)}"
                            	<if condition='$txt_sort eq "rate"'>class="active"</if>>券金额</a>
                        </span>
                        <label class="nj-input-checkbox">
						<input type="checkbox" class="tqk-filter-checkbox" <if condition="$stype eq 1">checked="checked"</if> val="{:U("/cate/",array('sort'=>$txt_sort,'cid'=>$cid,'sid'=>$sid,'coupon'=>$cou))}?k={:urldecode($k)}" value="{:U("/cate/",array('stype'=>'1','sort'=>$txt_sort,'cid'=>$cid,'sid'=>$sid,'coupon'=>$cou))}?k={:urldecode($k)}">
						<span class="_holder"></span><span>天猫</span>
					</label>
					<if condition="!$cid and !$k">
					 <label class="nj-input-checkbox">
						<input type="checkbox" class="tqk-filter-checkbox" <if condition="$stype eq 2">checked="checked"</if> val="{:U("/cate/",array('sort'=>$txt_sort,'cid'=>$cid,'sid'=>$sid,'coupon'=>$cou))}?k={:urldecode($k)}" value="{:U("/cate/",array('stype'=>'2','sort'=>$txt_sort,'cid'=>$cid,'sid'=>$sid,'coupon'=>$cou))}?k={:urldecode($k)}">
						<span class="_holder"></span><span>天猫超市</span>
					</label>
					</if>
					<if condition="$k">
					 <label class="nj-input-checkbox">
						<input type="checkbox" class="tqk-filter-checkbox" <if condition="$cou eq 1">checked="checked"</if> val="{:U("/cate/",array('sort'=>$txt_sort,'cid'=>$cid,'sid'=>$sid))}?k={:urldecode($k)}" value="{:U("/cate/",array('stype'=>'2','sort'=>$txt_sort,'cid'=>$cid,'sid'=>$sid,'coupon'=>1))}?k={:urldecode($k)}">
						<span class="_holder"></span><span>只看有券</span>
					</label>
					</if>
				</div>
			</div>		
			
			</div>



<div class="flexbox tqk-mt-20 tqk-ml-15">
												<ul class="haoquan itemlist">
													<volist name="list" id="vo">
													
								  <if condition="$vo['category_id']">
										 <li>
															<div class="goods_list">
																<a href="{:U('/item/',array('id'=>$vo['num_iid']))}" >
																	<div class="goods_img">
																		<if condition="($visitor or $isfanli eq 0) and $isfanli neq 2">
																			<span class="rank_num">约返{:Rebate1($vo['coupon_price']*$vo['commission_rate']/10000,$visitor['webmaster_rate'])}元</span>
																		</if>
																		<img width="240" height="240" src="__SKIN2__/static/tqkpc/images/grey.gif" class="load" lay-src="{$vo.pic_url}_400x400" alt="{$vo.title}">
																	</div>
																	<p class="layui-elip tqk-hiden-25"><i class="<if condition="$vo.shop_type eq 'B'">tm-ico<else/>tb-ico</if>"></i>{$vo.title}</p>
																	<span class="dec tqk-pl-10">原价￥{$vo.price|formatprice} </span> <span class="num tqk-pl-10">{$vo.volume}</span> 件
																	<div>
																		<if condition="$vo['quan']"><label class="coupon-price">{$vo.quan}元券</label> </if>
																		<span class="price">￥<i>{$vo.coupon_price|formatprice}</i></span></div>
																</a>
															</div>
														</li>
													<else/>	
										 <li>
															<div class="goods_list">
																<a target="_blank" href="{:U('/item/',array('id'=>$vo['num_iid']))}{$trackurl}">
																	<div class="goods_img">
																		<if condition="($visitor or $isfanli eq 0) and $isfanli neq 2">
																			<span class="rank_num">约返{:Rebate1($vo['coupon_price']*$vo['commission_rate']/10000,$visitor['webmaster_rate'])}元</span>
																		</if>
																		<img width="240" height="240" src="__SKIN2__/static/tqkpc/images/grey.gif" class="load" lay-src="{$vo.pic_url}_400x400" alt="{$vo.title}">
																	</div>
																	<p class="layui-elip tqk-hiden-25"><i class="<if condition="$vo.shop_type eq 'B'">tm-ico<else/>tb-ico</if>"></i>{$vo.title}</p>
																	<span class="dec tqk-pl-10">原价￥{$vo.price|formatprice} </span> <span class="num tqk-pl-10">{$vo.volume}</span> 件
																	<div>
																		<if condition="$vo['quan']"><label class="coupon-price">{$vo.quan}元券</label> </if>
																			<span class="price">￥<i>{$vo.coupon_price|formatprice}</i></span></div>
																</a>
															</div>
														</li>
														
													</if>	
														
													</volist>
												</ul>
</div>
<input type="hidden" id="item" name="item" value=""/>
<input type="hidden" id="quan" name="quan" value=""/>
<input type="hidden" id="quanurl" name="quanurl" value=""/>	

<div class="tqk-mt-30">
	<div id="yw0" class="pager">
	{$page}
	</div>
	
<div class="layui-clear tqk-pb-20"></div>	

</div>


</div>


</div>
</div>

<include file="Public:tqk-foot" />
</body>
</html>
