<volist name='list' id="vo">
    <div class="weui-col-50 ">
        <div class="goods-col tqk-bg-white tqk-rad-12">
            <div class="goods-vertical">
                <div>
                    <div class="pic">
                        <a href="{:U('jditem/index',array('id'=>$vo['itemid']))}">
                            <img src="{$vo.pic_url}"/>
                        </a>
                        <if condition="($visitor or $isfanli eq 0) and $isfanli neq 2">
                                  <span class="share-info">
                                                    预计返￥{:Rebate1($vo['coupon_price']*$vo['commission_rate']/100,$visitor['webmaster_rate'])}
                                                </span>
                        </if>
                    </div>
                    <div class="title">
                        <i class="iconfont tqk-jingdong3 tqk-c-red">
                        </i>
                        {$vo.title}
                    </div>
                    <div class="my">
                                                <span class="my_qh">
                                                    售价
                                                </span>
                        <div class="fl">
                            <i>
                                ¥
                            </i>
                            <span class="price">
                                                 {$vo.coupon_price|formatprice}
                                                    </span>
                        </div>
                    </div>
                    <if condition="$vo['quan']">
                        <div class="tag">
                            <div class="fr">
                                                    <span class="tags_quan">
                                                        <span class="quan">
                                                            券
                                                        </span>
                                                        <span>
                                                            {$vo.quan}元
                                                        </span>
                                                    </span>
                            </div>
                        </div>
                    </if>
                    <div class="num">
                        评论{$vo.comments}
                    </div>
                </div>
            </div>
        </div>
    </div>
</volist>