/*common*/
@media screen and (min-width:320px) and (max-width:479px) {
    html {font-size: 10px}
} 
@media screen and (min-width:480px) and (max-width:639px) {
    html {font-size: 15px}
} 
@media screen and (min-width:640px) and (max-width:719px) {
    html {font-size: 20px}
} 
@media screen and (min-width:720px) and (max-width:749px) {
    html {font-size: 22.5px}
}
body{font-family: "helvetica neue","Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",arial,sans-serif;}
html,body,.am-header,.footer,.am-offcanvas{width: 100%;margin: 0 auto;max-width: 750px;}
ul,li{list-style: none;padding: 0;margin: 0;}
address, blockquote, dl, fieldset, figure, hr, ol, p, pre, ul,h1, h2, h3, h4, h5, h6,* + p, * + hr, * + ul, * + ol, * + dl, * + blockquote, * + pre, * + address, * + fieldset, * + figure,* + h1, * + h2, * + h3, * + h4, * + h5, * + h6{margin: 0;}
.ellipsis{vertical-align: middle;word-wrap: normal; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.ellipsis-2{ display: -webkit-box; overflow: hidden; white-space: normal!important; text-overflow: ellipsis; word-wrap: break-word; -webkit-line-clamp: 2; -webkit-box-orient: vertical }
.flexbox{display: -webkit-box; display: -webkit-flex; display: flex;}
.flex{-webkit-box-flex: 1; -webkit-flex: 1;flex: 1;}
.wbg-ef{background-color: #efeff4;}
.c-main{color: #fb3434;}
.white-bar,.wbg{background: #fff;}
main{padding-bottom: 70px;-webkit-overflow-scrolling: touch;}
.am-offcanvas-bar{background: #fff;position: absolute;}
.am-offcanvas-bar:after{background: #fff;}
.am-with-fixed-header{padding-top: 44px;}

/*header*/
.am-menu-offcanvas1 .am-menu-toggle.menu-left{left: 0;right: auto;top:0;font-size: 2.4rem;font-weight: bold;width: 44px;height: 44px;line-height: 44px;}
.bar-nav{background-image: -webkit-linear-gradient(to right,#ff7438,#ff1f1f);background-image: -webkit-gradient(linear,left top, right top,from(#ff7438),to(#ff1f1f));background-image: -webkit-linear-gradient(left,#ff7438,#ff1f1f);background-image: -o-linear-gradient(left,#ff7438,#ff1f1f);background-image: linear-gradient(to right,#ff7438,#ff1f1f);height: 44px;color: #fff;padding: 0;}
.bar-nav form{height: 44px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;float: left;width: 100%;padding-left: 44px;}
.searchtop{position: relative;height: 30px;padding: 0;width: 80%;}
.searchtop .iconfont{position: absolute;left: 5px;top: 3px;font-size: 2.4rem;color: #969696;line-height: 1;}
.searchtop input{display: block;width: 100%;background: #fff;border-radius: 50px;height: 30px;padding: 5px 5px 5px 30px;font-size: 1.4rem;border: none;color: #646464;}
.headsub{background-color: transparent;color: #fff;font-size: 1.6rem;border: none;text-align: center;line-height: 1;width: 20%;}
/*nav*/
.series{padding: 0.5rem;}
.series h4{padding: 0.5rem;font-weight: normal;color: #666;margin: 0;line-height: 2;font-size: 1.8rem;}
.series a{display: block;margin: 0 auto 0.5rem;padding: 0.5rem 0;width: 90%;background: #e6e6e6;font-size: 1.2rem;color: #333;text-align: center;border-radius: 5px;line-height: 2;}

/*banner*/
.banner .am-slider-a1 .am-control-nav li a.am-active{background-color: #fff;}

/*indexnav*/
.nav{margin-bottom: 1rem;background: #fff;padding: 0.6rem;}
.nav table{width: 100%;}
.nav table tr + tr{text-align: center;border-top: 1px solid #ededed;}
.nav table tr td + td{border-left: 1px solid #ededed;}
.nav a{display: block;padding: 1rem 0.5rem 1rem 1.2rem;}
.nav div{float: left;display: inline-block;text-align: left;}
.nav h4{font-size: 1.6rem;color: #323232;}
.nav p{font-size: 1.2rem;color: #969696;}
.rowimg{float: right; background:url(/Public/static/tqkwap/images/rowimg.png)  no-repeat;background-size:20.5rem 4.7rem}
.rexiao{height:3.9rem;width:4.6rem;background-position:0 0;}
._9{height:4.1rem;width:4.9rem;background-position:-4.6rem 0;}
.daequan{height:3.9rem;width:5.2rem;background-position:-9.6rem 0;}
.taoqg{height:4.7rem;width:5.7rem;background-position:-14.8rem 0;}

/*brand*/
.brand{background: #fff;margin-bottom: 1rem;}
.brand .tit{display: block;border-bottom: 1px solid #eee;line-height: 2;padding: 0 0.6rem;}
.brand .tit h4{margin-right: 0.5rem;display: inline-block;font-size: 1.6rem;background-image: -webkit-gradient(linear,left top, right top,from(#ff4b37),to(#b219ff));background-image: -webkit-linear-gradient(left,#ff4b37,#b219ff);background-image: -o-linear-gradient(left,#ff4b37,#b219ff);background-image: linear-gradient(to right,#ff4b37,#b219ff);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.brand .tit span{font-size: 1.2rem;color: #969696;}
.coupon-item{padding: 1rem 0;text-align: center;-webkit-box-flex: 1;-ms-flex: 1;flex: 1;}
.coupon-item + .coupon-item{border-left: 1px solid #eee;}
.coupon-item img{margin-bottom: 0.5rem;height: 3rem;}
.coupon-item p{font-size: 1.4rem;color: #646464;}
.coupon-item span{font-size: 1.2rem;display: block;}

/*toutiao*/
.toutiao{overflow: hidden;/*margin-bottom: 0.8rem;*/background: #fff;padding: 0.5rem;display: -webkit-flex;display: flex;-webkit-align-items: center;align-items: center;}
.toutiao > a{flex: 1;}
.toutiao .notice{flex: 4;margin: 0 0.5rem;box-shadow: none;}
.toutiao .notice a{display: block;font-size: 1.4rem;line-height: 2;color: #323232;vertical-align: middle;word-wrap: normal; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}

/*good-list*/
.goods-list {padding: .2em; padding-top: 0.5rem;text-align: center; background-color: #fff; }
.goods-list .goods-item {display: block; float: left; width: 48%; margin-right: .15em; margin-bottom: .7em; text-align: left; }
.goods-list .goods-item:nth-child(2n) { float: right; }
.goods-list .tqk_pic {overflow: hidden;height: 180px;}
.lq { position: absolute; width: 52px; height: 53px; left: 0; top: 0; }
.lq .lq-t { height: 40px; background-color: #ff2220; line-height: 1; }
.lq .lq-t .lq-t-d1, .lq .lq-t .lq-t-d2 { font-weight: 700; color: #fff; text-align: center; overflow: hidden; }
.lq .lq-t .lq-t-d1 { font-size: 12px; height: 20px; padding-top: 5px; }
.lq .lq-t .lq-t-d2 { font-size: 12px; line-height: 22px; height: 22px;}
.lq .lq-b { height: 23px; background: url(/Public/static/tqkwap/images/get_coupon_bottom-89f4e16c1c.png) center no-repeat; background-size: cover; }
.goods-list .goods-item a.img { position: relative; display: block; width: 100%; }
.goods-list .goods-item a.img img { width: 100%; border: none; }
.goods-list .goods-item a.title { width: 100%; }
.goods-list .goods-item a.title .text { font-size: 1.2rem; overflow: hidden; width: 100%; height: 18px; text-align: center; word-break: break-all; color: #777; }
.tqkprice { font-size: 1.2rem; width: 100%; padding-top: 0.5rem; color: #fff; overflow: hidden;}
.tqkprice span { display: inline-block; padding: 0 0.5rem;font-size: 1.2rem; color: #ff464e; }
.iquanhou {width: 47px; height: 19px; display: inline-block; background: url(/Public/static/tqkwap/images/quanhoujia.png) center no-repeat; background-size: cover;}
.goods-list .goods-item .price-wrapper { line-height: 1; position: relative;}
.goods-list .goods-item .price-wrapper .text { font-size: 1.2rem; display: inline-block; color: #a3a3a3; }
.goods-list .goods-item .price-wrapper .price { font-size: 1.4rem; display: inline-block; margin-top: .1em; color: #ff4b5f; }
.goods-list .goods-item .price-wrapper .sold-wrapper { position: absolute;right: 0;bottom: 0px; }
.goods-list .goods-item .price-wrapper .sold-wrapper .sold-num { font-size: 1rem; color: #ecabab; }
.index-more{border: 1px solid #ddd;border-radius: 5px;color: #646464;font-size: 1.4rem;}

/*footer*/
.footer{position: fixed;bottom: 0;width: 100%;max-width: 750px;z-index: 111;}
.footer-top{display: -webkit-box;display: -ms-flexbox;display: flex;height: 15px;}
.footer-top .line{-webkit-box-flex: 1;-ms-flex: 1;flex: 1;border-bottom: 1px solid #ddd;}
.footer-top .circle{width: 45px;height: 40px;background: #fff;border-top: 1px solid #ccc;border-top-left-radius: 50%;border-top-right-radius: 50%;z-index: -1;}
.footer ul{margin: 0;padding: 0;background: #fff;}
.footer ul li{list-style: none;float: left;width: 20%;text-align: center;}
.footer ul li a{color: #666;}
.footer ul li a i{display: block;font-size: 2.4rem;line-height: 30px;}
.footer ul li a span{display: block;font-size: 1rem;line-height: 20px;}
.footer ul li a:active{color: #FF464E;}
.backTop {background: #fc5d5d;width: 32px;height:32px;line-height: 32px;border-radius: 5px;bottom: 60px;}
.backTop a i{font-size: 2.4rem;color: #fff;}




