<include file="NewPublic:cate" />
<style>
    .topfixed {background: #ff085c;}
    .topfixed .weui-search-bar{background: #ff085c;}
    .topfixed .weui-search-bar__form {background: #ff085c;}
    .weui-search-bar__cancel-btn2{ background: #ff9000}
    .topfixed-title{ color: #ffffff; text-align: center; float: left; width: 90%; font-size: large;}
    .tabnav .swiper-slide{padding:0 .5rem;text-align:center;width:33%}
    .page-list{ padding: 5px; background: #ffffff; margin-bottom: 4px; margin-top: 4px; width: 100%}
    .page-list img{ width: 100%; border-radius: 10px;}
    .toolbar { background: #ff085c;}
    .weui-cells__title{ padding-left: 3px; padding-right: 3px;}
</style>
<body>
<div style="height:0;overflow:hidden;z-index: -1; max-width: 750px; margin: 0 auto">
    <div class="canvas-mask" style="height:auto; width:100%; overflow: hidden; padding: 0;">
        <div class="canvas-container" style="padding-top:0px ; margin-top: 0px;">
            <div class="canvas-wrap">
                <div class="canvas-pics" style="position:relative">
                    <img id="canvas-pic" src="https://img.alicdn.com/imgextra/i2/3175549857/O1CN01lc3lMC2MgYhvUjDH9_!!3175549857.jpg" class="canvas-pic" />
                </div>
                <div class="text-box" style="width:100%; text-align: center;">
                    <label style="display:block; margin: 0 auto;">
                        <img id="qr-code" width="160" height="160" src="https://img.alicdn.com/imgextra/i2/3175549857/O1CN01lc3lMC2MgYhvUjDH9_!!3175549857.jpg" />
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pagebox">

    <div class="topfixed fixs">
        <a class="backlist" href="javascript:history.back(-1)"><i class="tqk-fanhui2 iconfont"></i>
        </a>
        <div class="topfixed-title">
            双11活动专场
        </div>

    </div>

    <div class="tabnav" id="subnav" style="background: #ff085c; padding-top: 2.5rem">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="{:U('promotion/index',array('tab'=>'4'))}"  <if condition="$tab eq '4' or !$tab">class="active"</if> >淘宝专场</a></div>
            <div class="swiper-slide"><a href="{:U('promotion/index',array('tab'=>'5'))}" <if condition="$tab eq '5'">class="active"</if>>京东专场</a></div>
            <div class="swiper-slide"><a  href="{:U('promotion/index',array('tab'=>'6'))}" <if condition="$tab eq '6'">class="active"</if>>拼多多专场</a></div>
        </div>
    </div>

    <div class="weui-row weui-no-gutter">

<volist name="list" id="vo">
        <div class="page-list">
            <div class="weui-row">
                <div class="weui-col-100"> <a href="javascript:;" rel="{:base64_encode($vo['id'])}" title="{$vo.title}"  class="buy-btn">
                    <img src="{$vo.img}">
                </a></div>

                <div class="weui-col-100">
                    <strong>{$vo.title}</strong>
<if condition="$vo['des']">
                    <div class="weui-cells__title">{$vo.des}</div>
</if>
                </div>

            </div>

        </div>
</volist>



    </div>

</div>



<div style="padding-top: 5rem"></div>


<include file="NewPublic:foot" />


<div id="share" class='weui-popup__container popup-bottom'>
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal">
        <div class="toolbar">
            <div class="toolbar-inner">
                <a href="javascript:;" class="picker-button close-popup iconfont tqk-xiangzuojiantou"></a>
                <h1 class="title" id="title">淘宝双11活动</h1>
            </div>
        </div>
        <div class="modal-content">
            <div class="weui-grids">
                <div class="copy-box">
                    <div class="am-panel am-panel-danger">
                        <div class="am-panel-hd">复制下方口令↓↓ 打开【手机淘宝】即可进入活动页面！</div>
                        <div class="am-panel-bd">
                            <h4 id="CopyMsg">{$item.quankouling}</h4>
                        </div>
                    </div>
                    <button id="copy_btn"  style="width: 60%;height:2rem;font-size:0.8rem" class="weui-btn weui-btn_warn copya">一键复制</button>
                    <a href="javascript:$.closePopup();" style="width: 60%;height:2rem;font-size:0.8rem"
                       class="weui-btn weui-btn_default">关闭页面</a>

                </div>

            </div>
        </div>
    </div>
</div>



<div id="jdShare" class='weui-popup__container popup-bottom'>
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal">
        <div class="toolbar">
            <div class="toolbar-inner">
                <a href="javascript:;" class="picker-button close-popup iconfont tqk-xiangzuojiantou"></a>
                <h1 class="title" id="jdTitle">优惠信息</h1>
            </div>
        </div>
        <div class="modal-content">
            <div class="weui-grids">
                <div class="copy-box">
                    <div class="am-panel am-panel-danger">
                        <div class="am-panel-hd">点击下方↓↓链接 即可进入活动页面！</div>
                        <div class="am-panel-bd">
                            <h4 id="jdMsg"></h4>
                        </div>
                    </div>
                    <a href="javascript:$.closePopup();" style="width: 60%;height:2rem;font-size:0.8rem"
                       class="weui-btn weui-btn_default">关闭页面</a>

                </div>

            </div>
        </div>
    </div>
</div>


<include file="Public:stat" />
<script type="text/javascript">

    $('.buy-btn').click(function(){
        //要求登录后才能领券
        <if condition="$islogin && !$visitor">
            LoginMsg();
            return false;
        </if>

        var id = $(this).attr('rel');
        var title = $(this).attr('title');
        $('#title').html(title);

        $.ajax({
            url: "{:U('promotion/PromotionLink')}",
            type:'post',
            dataType: "json",
            timeout :3000,
            data: {id:id,tab:"{$tab}"},
            success: function(data){

                console.log(data);

                if(data.result && data.tab == 4) {

                    $("#CopyMsg").html(data.result);

                    var clipboard = new ClipboardJS('.copya', {
                        text: function () {
                            return data.result;
                        }
                    });
                    clipboard.on('success', function (e) {
                        $.toast("口令复制成功");
                        e.clearSelection();
                    });
                    clipboard.on('error', function (e) {
                        $.toast("复制失败", "forbidden");
                    });


                    $("#share").popup();
                    return false;

                }else if(data.result){

                    $('#jdTitle').html(title);

                    var content = '<a href="'+ data.result +'">'+ data.result +'</a>';

                    $('#jdMsg').html(content);
                    $("#jdShare").popup();

                }else {
                    $.alert('获取链接失败！');
                }
            }
        });



        return false;

    });


    function LoginMsg(){
        $.modal({
            title: "系统提示",
            text: "请登录后再下单！",
            buttons: [
                { text: "开始登录", onClick: function(){
                        window.location.href="{:U('login/index')}";
                    } },
                { text: "暂不登录", className: "default",onClick: function(){
                        $.closePopup()
                    } },
            ]
        });
    }





</script>
</body>
</html>