<include file="Public:head_nosearch" />
<style>
    .content img{
        max-width: 750px;
    }
    .headlines-bd{ line-height: 200%}
</style>
<!--header-->
<header data-am-widget="header" class="am-header am-header-default am-header-fixed">
    <div class="am-header-left am-header-nav">
        <a href="javascript:history.go(-1)"><i class="iconfont tqk-fanhui"></i></a>
    </div>
    <h1 class="am-header-title">微信公众号查抖音优惠券教程</h1>
</header>
<main>
    <!--read-->
    <div style="padding-top: 50px"> </div>
    <div style="margin: 0 auto; width: 90%; line-height: 200%">

        <p>  千挑万选找到了自己心仪的宝贝，怎么买才能更优惠？
            <br/>虽然我们不能帮您免单，但是我们开发的这款神器可以帮您省钱！
            <br/>
            发送商品链接给{:C('yh_site_name')}微信公众号，可为您查询优惠券信息。
        </p>

        <h3>第一步：打开抖音APP</h3>
        <p style="text-align: center">
            <img src="https://img.alicdn.com/imgextra/i4/3175549857/O1CN01ZcesGd2MgYsKxpO5b_!!3175549857.jpg" width="80%"/>
        </p>
        <h3>第二步：抖音APP内点开需要购买的商品，点击分享按钮并点击"复制链接"按钮，再打开微信。</h3>
        <p style="text-align: center">
            <img src="https://img.alicdn.com/imgextra/i1/3175549857/O1CN01M0GyB12MgYsE3r5qn_!!3175549857.jpg" width="80%"/>
        </p>
        <h3>第三步：打开微信并找到{:C('yh_site_name')}微信公众号，长按输入框粘贴链接并发送给微信公众号。</h3>

        <p style="text-align: center">
            <img src="https://img.alicdn.com/imgextra/i2/3175549857/O1CN01efCoce2MgYsDOpMs9_!!3175549857.jpg" width="80%"/>
        </p>

        <p style="text-align: center">
            如果您还没有关注{:C('yh_site_name')}微信公众号，请长按下图二维码识别并关注微信公众号。
            <img src="{:C('yh_site_flogo')}" />
        </p>

        <h3>第四步：微信公众号会根据发送的链接自动查询商品优惠券，点开微信公众号推送的消息。</h3>

        <p style="text-align: center">

            <img src="https://img.alicdn.com/imgextra/i3/3175549857/O1CN01aq7Mis2MgYsHM9gew_!!3175549857.jpg" width="80%"/>
        </p>
        <h3>第五步：长按微信公众号推送的消息并复制，再打开抖音APP</h3>

        <p style="text-align: center">

            <img src="https://img.alicdn.com/imgextra/i3/3175549857/O1CN01hHUKdK2MgYsC9PKGA_!!3175549857.jpg" width="80%"/>
        </p>
        <h3>第六步：进入抖音APP,会自动弹出下图界面，点击"打开看看"根据提示下单即可。</h3>

        <p style="text-align: center">
            <img src="https://img.alicdn.com/imgextra/i2/3175549857/O1CN01dOrCDd2MgYsJP6Kip_!!3175549857.jpg" width="80%"/>
        </p>

        <p>
            抖音商城目前优惠券并不多，但作为粉丝福利，只要通过{:C('yh_site_name')}微信公众号去抖音下单，都能获得一定金额的返利补贴。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;如果觉得我们这款神器对你有帮助，赶快告诉身边的好友吧！
            <br/><br/><br/><br/>

        <div style="text-align: center"><a href="{:U('article/guide')}" class="am-btn am-btn-block am-btn-default am-radius am-btn-lg">返回</a></div>
        <br/><br/><br/><br/>
        </p>

    </div>

</main>



</body></html>