<include file="Public:head_nosearch" />
<style>
    .content img{
        max-width: 750px;
    }
    .headlines-bd{ line-height: 200%}
</style>
<!--header-->
<header data-am-widget="header" class="am-header am-header-default am-header-fixed">
    <div class="am-header-left am-header-nav">
        <a href="javascript:history.go(-1)"><i class="iconfont tqk-fanhui"></i></a>
    </div>
    <h1 class="am-header-title">新人必读</h1>
</header>
<main>
    <!--read-->

    <div><img src="https://img.alicdn.com/imgextra/i4/3175549857/O1CN01bfFtbx2MgYs4GVZrC_!!3175549857.png" width="100%"/> </div>

    <div class="article">
        <div class="title">
            <div class="ellipsis-2">微信公众号菜单切换方法</div>
           <div> <img width="100%" src="https://img.alicdn.com/imgextra/i4/3175549857/O1CN01BvActl2MgYs7tKya0_!!3175549857.gif" /></div>
            <div class="am-cf">
            </div>
        </div>


        <div>



        </div>


        <div class="am-tab-panel am-fade am-in am-active">

            <ul class="headlines-bd">

                    <li>
                        <a  href="{:U('article/guide',array('ac'=>'tb'))}">
                            <img src="https://img.alicdn.com/imgextra/i1/3175549857/O1CN01nwCxVX2MgYs4Ue11c_!!3175549857.png" width="36" height="36">
                            <label class="ellipsis-2">淘宝天猫查券教程 </label>
                        </a>
                    </li>

                <li>
                    <a  href="">
                        <img src="https://img.alicdn.com/imgextra/i1/3175549857/O1CN01ctsmK12MgYs88kMb9_!!3175549857.png" width="36" height="36">
                        <label class="ellipsis-2">京东查券教程 </label>
                    </a>
                </li>

                <li>
                    <a  href="">
                        <img src="https://img.alicdn.com/imgextra/i1/3175549857/O1CN01WCC2T02MgYrzH77Cn_!!3175549857.png" width="36" height="36">
                        <label class="ellipsis-2">抖音查券教程 </label>
                    </a>
                </li>
                <li>
                    <a  href="">
                        <img src="https://img.alicdn.com/imgextra/i4/3175549857/O1CN01kn3Cfo2MgYs4Udwrf_!!3175549857.png" width="36" height="36">
                        <label class="ellipsis-2">拼多多查券教程 </label>
                    </a>
                </li>
                <li>
                    <a  href="">
                        <img src="https://img.alicdn.com/imgextra/i1/3175549857/O1CN01VZHjhR2MgYs7697tg_!!3175549857.png" width="36" height="36">
                        <label class="ellipsis-2">唯品会查券教程 </label>
                    </a>
                </li>


            </ul>

        </div>


    </div>


</main>
<include file="Public:foot" />
<include file="Public:alertad_noscript" />

</body></html>