<include file="Public:head_nosearch" />
		<!--header-->
		<header data-am-widget="header" class="am-header am-header-default am-header-fixed">
		    <div class="am-header-left am-header-nav">
		        <a href="javascript:history.go(-1)"><i class="iconfont tqk-fanhui"></i></a>
		    </div>
		    <h1 class="am-header-title">优惠头条</h1>
		</header>
		<main>
			<!--headlines-->
			<div class="headlines">
				<div class="am-slider am-slider-default"  data-am-widget="slider" data-am-slider="{animationLoop: false,slideshow: false,controlNav: false,directionNav: false,itemWidth: 80,itemMargin: 10}" >
					<ul class="am-tabs-nav am-nav am-nav-tabs am-slides">
					    <li class="<if condition="$cateid eq ''"> am-active</if>"><a href="{:U('article/index')}{$trackurl}">全部</a></li>
					    <volist name="articlecate" id="cate">
							<li class="<if condition="$cateid eq $cate['id']"> am-active</if>"><a href="{:U('article/index/',array('cateid'=>$cate['id']))}{$trackurl}">{$cate.name}</a></li>
						</volist>
					</ul>
				</div>	
				<div class="am-tab-panel am-fade am-in am-active">
					<ul class="headlines-bd">
						<volist name='list' id="cateid">
							<li class="{$cateid.ccid}" >
								<a class="{$cateid.ccid}" href="{$cateid.linkurl}{$trackurl}">
									<img src="{$cateid.pic}" width="120" height="120">
									<h3 class="ellipsis-2">{$cateid.title}</h3>
									<p class="ellipsis-2">{$cateid.infocontent}</p>
									<div class="am-cf">
										<span class="mark">{$cateid.catename}</span>
										<p class="time">{$cateid.add_time}</p>
									</div>
								</a>
							</li>
						</volist>
					</ul>
					<div class="page am-margin-bottom-lg">
						<if condition="$total_item gt $size">
						{$page}
						</if>
					</div>
				</div>
			</div>
		</main>
<include file="Public:foot" />
<include file="Public:alertad_noscript" />
</body></html>