<include file="Public:head_nosearch" />
<style>
    .content img{
        max-width: 750px;
    }
    .headlines-bd{ line-height: 200%}
</style>
<!--header-->
<header data-am-widget="header" class="am-header am-header-default am-header-fixed">
    <div class="am-header-left am-header-nav">
        <a href="javascript:history.go(-1)"><i class="iconfont tqk-fanhui"></i></a>
    </div>
    <h1 class="am-header-title">微信公众号查拼多多优惠券教程</h1>
</header>
<main>
    <!--read-->
    <div style="padding-top: 50px"> </div>
    <div style="margin: 0 auto; width: 90%; line-height: 200%">

        <p>  千挑万选找到了自己心仪的宝贝，怎么买才能更优惠？
            <br/>虽然我们不能帮您免单，但是我们开发的这款神器可以帮您省钱！
            <br/>
            发送商品链接给{:C('yh_site_name')}微信公众号，可为您查询优惠券信息。
        </p>
        <p style="text-align: center">
            <img src="https://img.alicdn.com/imgextra/i4/3175549857/O1CN01ZmNdbP2MgYsK23Dz6_!!3175549857.jpg" width="80%"/>
        </p>

        <h3>第一步：打开拼多多APP</h3>
        <p style="text-align: center">
            <img src="https://img.alicdn.com/imgextra/i4/3175549857/O1CN01M5suOL2MgYsNuhSJT_!!3175549857.jpg" width="80%"/>
        </p>
        <h3>第二步：拼多多APP内点开需要购买的商品，点击分享按钮</h3>
        <p style="text-align: center">
            <img src="https://img.alicdn.com/imgextra/i4/3175549857/O1CN01PDMHEu2MgYsK35bfw_!!3175549857.jpg" width="80%"/>
        </p>
        <h3>第三步：点击"复制链接"，再打开微信，并找到{:C('yh_site_name')}微信公众号</h3>

        <p style="text-align: center">
            <img src="https://img.alicdn.com/imgextra/i2/3175549857/O1CN01TLxftI2MgYsKXjJMK_!!3175549857.jpg" width="80%"/>
        </p>

        <p style="text-align: center">
            如果您还没有关注{:C('yh_site_name')}微信公众号，请长按下图二维码识别并关注微信公众号。
            <img src="{:C('yh_site_flogo')}" />
        </p>
        <h3>第四步：打开微信公众号并切换到输入框界面

            <p style="text-align: center">
                <img src="https://img.alicdn.com/imgextra/i4/3175549857/O1CN01BvActl2MgYs7tKya0_!!3175549857.gif" width="80%"/>
            </p>

            长按输入框粘贴链接并发送给微信公众号。</h3>

        <p style="text-align: center">
            <img src="https://img.alicdn.com/imgextra/i4/3175549857/O1CN01hl1kDV2MgYsN6qNoU_!!3175549857.jpg" width="80%"/>
        </p>
        <h3>第五步：微信公众号会根据发送的链接自动查询商品优惠券，点击下图所示链接</h3>

        <p style="text-align: center">

            <img src="https://img.alicdn.com/imgextra/i1/3175549857/O1CN01fijhNT2MgYs884UUA_!!3175549857.jpg" width="80%"/>
        </p>

        <h3>第六步：点击"去小程序领礼金"</h3>

        <p style="text-align: center">
            <img src="https://img.alicdn.com/imgextra/i3/3175549857/O1CN01RH9jut2MgYsM3cXRj_!!3175549857.jpg" width="80%"/>
        </p>
        <h3>第七步：点击"一键抢券"，根据提示完成下单，优惠券会自动抵扣现金。</h3>

        <p style="text-align: center">
            <img src="https://img.alicdn.com/imgextra/i4/3175549857/O1CN01VRpS3w2MgYsLbozgq_!!3175549857.jpg" width="80%"/>
        </p>

        <p>
            通过一番操作，原本拼多多13.9元才能买到植护清凉膏，现在只要7.9元就能到手，轻松为你省了6元。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;如果觉得我们这款神器对你有帮助，赶快告诉身边的好友吧！
            <br/><br/><br/><br/>

        <div style="text-align: center"><a href="{:U('article/guide')}" class="am-btn am-btn-block am-btn-default am-radius am-btn-lg">返回</a></div>
        <br/><br/><br/><br/>
        </p>

    </div>

</main>



</body></html>