<include file="Public:head_nosearch" />
<style>
    .content img{
        max-width: 750px;
    }
    .headlines-bd{ line-height: 200%}
</style>
<!--header-->
<header data-am-widget="header" class="am-header am-header-default am-header-fixed">
    <div class="am-header-left am-header-nav">
        <a href="javascript:history.go(-1)"><i class="iconfont tqk-fanhui"></i></a>
    </div>
    <h1 class="am-header-title">微信公众号查淘宝优惠券教程</h1>
</header>
<main>
    <!--read-->

    <div style="margin: 0 auto; padding-top: 0.8rem; width: 100%;">
        <video width="100%" poster="https://img.alicdn.com/imgextra/i1/3175549857/O1CN01YRSOL42MgYoqPRVgf_!!3175549857.jpg" src="https://cloud.video.taobao.com//play/u/3175549857/p/1/e/6/t/1/416427895215.mp4"  preload="auto"  controls="controls" autoplay="autoplay"  playsinline="true"  webkit-playsinline="true"  x5-video-player-type='h5' x5-video-player-fullscreen='true' >您的浏览器不支持 video 标签。</video>
    </div>

</main>



</body></html>