  <volist name='list' id="vo"> 
	            <div class="goods-item">
					<a href="{:U('jditem/index',array('id'=>$vo['itemid']))}{$trackurl}">
	               <div class="goods-pic">
	                   <img src="{$vo.pic_url}" class="goods-pic">
	                    <if condition="($visitor or $isfanli eq 0) and $isfanli neq 2">
	    <span class="share-info" >
	    	预计返￥ {:Rebate1($vo['coupon_price']*$vo['commission_rate']/100,$visitor['webmaster_rate'])}</span>
	  </if>
	               </div>
	               <div class="goods-info">
	                   <i class="iconfont tqk-jingdong3"></i>
	                   <p class="goods-name ellipsis-2">{$vo.title}</p>
	               </div>
	               <div class="goods-mid">
	                   <p class="f-12 c-999">￥{$vo.price|formatprice}</p>
	                   <p class="goods-share maincolor">
	                   	{$vo.comments}评论
	                   </p>
	               </div>
	               <div class="goods-bot">
	                   <p class="f-12 c-111 lh-22"><span class="am-text-lg maincolor">{$vo.coupon_price|formatprice}</span>元</p>
	<if condition="$vo['item_type'] eq 3">
													 <div class="goods-coupon"><p class="f-10 c-white">秒杀</p>  </div>
																		<elseif condition="$vo['item_type'] eq 2"/>
															<div class="goods-coupon"><p class="f-10 c-white">拼购</p>  </div>
																		<elseif condition="$vo['quan'] gt 0"/>
														<div class="goods-coupon"><p class="f-10 c-white">{$vo.quan}元券</p>  </div>
																		</if>
	               </div>
					</a>
	            </div>
</volist>
	 
  