<include file="NewPublic:cate" />
<style>
	.topfixed {background: #6125B9;}
	.topfixed .weui-search-bar{background: #6125B9;}
	.topfixed .weui-search-bar__form {background: #6125B9;}
	.weui-search-bar__cancel-btn2{ background: #8B34EA}
</style>
<body>
<div class="pagebox">
	<div class="weui-tab">
		<div class="topfixed fixs">
			<a class="backlist" href="javascript:history.back(-1)"><i class="tqk-fanhui2 iconfont"></i>
				<img src="https://img.alicdn.com/imgextra/i2/3175549857/O1CN01FtHeZF2MgYro79UHq_!!3175549857.png" width="80" />
			</a>
			<div class="weui-search-bar" id="searchBar">
				<form class="weui-search-bar__form" action="{:U('pdd/index')}" method="get" id="search">
					<div class="weui-search-bar__box">
						<input type="search" name="k" class="weui-search-bar__input" id="searchInput" value="{$sokey}"  required="">
						<a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
					</div>
					<label class="weui-search-bar__label" id="searchText" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
						<span>搜索拼多多商品优惠券</span>
					</label>
				</form>
				<a href="javascript:" class="weui-search-bar__cancel-btn2" id="searchbtn">搜索</a>
			</div>

		</div>
		<div class="tabnav" id="subnav" style="background: #6125B9; padding-top: 2.5rem">
			<div class="swiper-wrapper">
				<div class="swiper-slide"><a href="{:U('pdd/index')}" <empty name="cid">class="active"</empty>>全部商品</a></div>
				<volist name="ItemCate" id="tree" key="i">
					<div class="swiper-slide"><a rel="{$i}" href="{:U('pdd/index',array('cid'=>$key))}" <if condition="$cid eq $key">class="active"</if> >{$tree}</a></div>
				</volist>
			</div>
		</div>
	<div class="filter">
		<div class="weui-row">
			<div class="weui-col-25"><a href="{:U("pdd/index",array('sort'=>'0','cid'=>$cid))}?k={:urldecode($sokey)}">综合</a>   <if condition='$txt_sort eq 0 or $txt_sort eq 12'><i class="icon-caret"></i></if></div>
			<div class="weui-col-25"><a href="{:U("pdd/index",array('sort'=>'6','cid'=>$cid))}?k={:urldecode($sokey)}">销量</a><if condition='$txt_sort eq 6'><i class="icon-caret"></i></if></div>
			<div class="weui-col-25"><a href="{:U("pdd/index",array('sort'=>'9','cid'=>$cid))}?k={:urldecode($sokey)}">大额券</a><if condition='$txt_sort eq 9'><i class="icon-caret"></i></if></div>
			<div class="weui-col-25">
				<input type="checkbox" class="tqk-filter-checkbox" <if condition="$stype eq 1">checked="checked"</if> val="{:U("pdd/index",array('sort'=>$txt_sort,'cid'=>$cid))}?k={:urldecode($k)}" value="{:U("pdd/index",array('stype'=>'1','sort'=>$txt_sort,'cid'=>$cid))}?k={:urldecode($k)}">
				<span>只看有券</span>
			</div>
		</div>
	</div>
	<div class="goods-des">
		<div class="weui-row weui-no-gutter" id="list">
			<volist name='list' id="vo">
			<div class="weui-col-50 ">
					<div class="goods-col tqk-bg-white tqk-rad-12">
						<div class="goods-vertical">
							<div>
								<div class="pic">
									<a href="{$vo.linkurl}">
										<img src="{$vo.pic_url}"/>
									</a>
									<if condition="($visitor or $isfanli eq 0) and $isfanli neq 2">
                                  <span class="share-info">
                                                    预计返￥{:Rebate1($vo['coupon_price']*$vo['promotion_rate']/1000,$visitor['webmaster_rate'])}
                                                </span>
									</if>
								</div>
								<div class="title">
									<i class="iconfont tqk-pinduoduo tqk-c-red">
									</i>
									{$vo.title}
								</div>
								<div class="my">
                                                <span class="my_qh">
                                                    售价
                                                </span>
									<div class="fl">
										<i>
											¥
										</i>
										<span class="price">
                                                     {$vo.coupon_price}
                                                    </span>
									</div>
								</div>
								<if condition="$vo['quan']">
									<div class="tag">
										<div class="fr">
                                                    <span class="tags_quan">
                                                        <span class="quan">
                                                            券
                                                        </span>
                                                        <span>
                                                            {$vo.quan}元
                                                        </span>
                                                    </span>
										</div>
									</div>
								</if>
								<div class="num">
									已售{$vo.volume}
								</div>
							</div>
						</div>
					</div>
				</div>
			</volist>


		</div>
	</div>





</div>


</div>


<div class="weui-loadmore" style="display: none;">
	<i class="weui-loading"></i>
	<span class="weui-loadmore__tips">正在加载...</span>
</div>
<div class="nomore" id="nomore" style="display: none;"><span>没有更多数据了</span></div>
<input  type="hidden" id="page" value="2"/>


<div class="footzw"> </div>




<img class="tqk-totop" src="/Public/static/wap/images/icon/mescroll-totop.png" width="36" height="36" />
<include file="NewPublic:foot" />
<include file="Public:stat" />
<script type="text/javascript">
	$(function () {
		$(window).scroll(function () {
			var scrollT = $(document).scrollTop();
			var offsetT = $(".pagebox").offset().top;
			if (scrollT >= offsetT) {
				$(".tqk-totop").show()
			} else {
				$(".tqk-totop").hide()
			}
		})
		$(".tqk-totop").click(function(){
			$("html,body").animate({
				scrollTop:0
			},1000)
		})
	})

	window.onload = function() {
		let index = $(".active").attr('rel');
		let mySwiper = new Swiper('#subnav',{
			freeMode : true,
			slidesPerView : 'auto',
			slideToClickedSlide: true,
			preventClicksPropagation:true,
			initialSlide:index?index:0
		});

	}

	$(document.body).infinite();
	var loading = false;  //状态标记
	$(document.body).infinite().on("infinite", function() {
		if(loading) return;
		loading = true;
		$('.weui-loadmore').show()
		var page = $('#page').val();
		var word = "{$sokey}";
		var cid = "{$cid}";
		var sid = "{$sid}";
		var sort ="{$sort}";
		$.get("{:U('pdd/catelist')}",{page:page,k:word,sort:sort,cid:cid,sid:sid},function(res){

					if(res == 1){
						$.alert("抱歉！登录后才能查看更多商品哟", "系统提示");
						loading = false;
						$(document.body).destroyInfinite()
						$('.weui-loadmore').hide()
						$('#nomore').show();
						return;
					}
					$("#list").append(res);
					$('#page').val(Number(page)+1);
					loading = false;


				},
				'html'
		);


	});
	document.onkeydown = function(e){
		var ev = document.all ? window.event : e;
		if(ev.keyCode==13) {
			$("#searchbtn").click();

		}
	}
	$("#searchbtn").click(function(event) {
		var word = $('#searchInput').val();
		if(!word){
			$.alert('搜索内容不能为空');
			return false
		}
		$('#search').submit();
	});

	$('.tqk-filter-checkbox').on('change',function(){
		if($(this).is(':checked')){
			location.href=$(this).attr('value');

		}else{

			location.href=$(this).attr('val');

		}
	});


</script>
<include file="Public:stat" />
</body>
</html>
