<a class="add fb " data-field="status" data-value="1" href="{:U('order/index')}" style="background:#999933;"><em style="background:#999933;">淘宝订单</em></a>
<a class="add fb " data-field="status" data-value="1" href="{:U('pddorder/index')}" style="background:#333366;"><em style="background:#333366;">拼多多订单</em></a>
<a class="add fb " data-field="status" data-value="1" href="{:U('jdorder/index')}" style="background:#99CC33;"><em style="background:#99CC33;">京东订单</em></a>
<a class="add fb " data-field="status" data-value="1" href="{:U('mtorder/index')}" style="background:#336699;"><em style="background:#336699;">美团订单</em></a>
<a class="add fb " data-field="status" data-value="1" href="{:U('thirdorder/index')}" style="background:#CCCCCC;"><em style="background:#CCCCCC;">其它订单</em></a>
