<include file="NewPublic:meta" />
<style>
  .tabnav{width:100%;overflow:hidden;padding-top:.3rem;padding-bottom:.3rem;background:#fdfdfc}
  .tabnav .swiper-slide{padding:0 .5rem;text-align:center;width:auto}
  .weui-search-bar:after{border:none}
  .weui-search-bar:before{border:none}
  .topfixed{padding:0 .3rem;overflow:hidden;background-color:#f43434;height:2.5rem;box-shadow:none;overflow:hidden;display:flex;align-items:center;justify-content:space-between}
  .topfixed .backlist{top:auto;font-weight:bold;left:.2rem;line-height:200%}
  .topfixed .backlist i{font-size: 20px}
  .weui-search-bar__box{padding-left:.3rem;padding-right:.3rem}
  .weui-search-bar__cancel-btn2{display:inline-block;white-space:nowrap;
      width: 3.1rem;
      background: #ff6831;
      color: #fff;
      border-bottom-right-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
      margin-left: -5px;
      z-index: 20;
      text-align: center;
      line-height: 200%;
  }
  .topfixed .weui-search-bar{background-color:#f43434;width:70%;padding:0;}
  .topfixed .weui-search-bar__form{background-color:#f43434}
  .topfixed a{color:#fff}
  .weui-search-bar__box .weui-icon-clear{position:absolute;top:50%;right:0;color:#d5d5d6;margin-top:-14px;padding:0 10px;line-height:28px}
  .swiper-slide div{margin:0;padding:0;line-height:120%}
  .swiper-wrapper{line-height:200%}
  .swiper-wrapper a{color: #ffffff;display: block;z-index: 4; width: 100%; height: auto; font-size: 0.85rem;}
  #subnav .active{border-bottom:#fff solid 2px;display:block}
  #subnav{color:#fff}
  .filter{background:#fff;margin-top:5px;text-align:center;line-height:200%}
  .icon-caret{position:absolute;margin-top:10px;width:11px;height:12px;background-image:url(/Public/static/wap/images/icon/caret-default.png);background-repeat:no-repeat;background-size:11px 12px}
  .tjSwiper{height:auto;margin:.2rem .1rem}
  .tjSwiper .tx img{width:auto;height:auto}
  .tui-pro-item{width:100%;background:#fff;box-sizing:border-box;border-radius:12px;overflow:hidden;transition:all .15s ease-in-out}
  .tui-product-container{padding:.1rem}
  .tui-pro-content{display:flex;flex-direction:column;justify-content:space-between;box-sizing:border-box}
  .tui-pro-tit{color:#2e2e2e;word-break:break-all;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2}
  .tui-pro-price{padding-top:.15rem}
  .tui-sale-price{font-size:.36rem;font-weight:500;color:#e41f19}
  .tui-factory-price{font-size:.4rem;color:#a0a0a0;text-decoration:line-through;padding-left:12px}
  .tui-pro-pay{padding-top:.2rem;color:#656565}
  .demo-tag{display:flex;margin-top:5px}
  .demo-tag-owner{background-color:#fa3534;color:#fff;display:flex;align-items:center;padding:2px 8px;border-radius:50px;line-height:1;font-size:.1rem}
  .demo-tag-text{border:1px solid #2979ff;color:#2979ff;margin-left:10px;border-radius:50px;line-height:1;padding:2px 8px;display:flex;align-items:center;font-size:.1rem;border-radius:50px}
  .shopico{color:#fa3534}
  .active2{color:#e41f19 }
  .filter a{ color: #333}
</style>