<div class="footer" id="box">
  <if condition="C('APP_SUB_DOMAIN_DEPLOY') && C('URL_MODEL')==2">
    <a class="lina" href="/">
      <else/>
      <a class="lina" href="/index.php/m">
  </if>
  <i class="iconfont tqk-shouye1"></i>
  <span>首页</span>
  </a>

  <a class="lina" href="{:U('jiu/index')}">
    <i class="iconfont tqk-kuai1"></i>
    <span>9块9包邮</span>
  </a>

  <a class="lina" href="{:U('so/index')}">
    <i class="iconfont tqk-search"></i>
    <span>超级搜索</span>
  </a>

  <if condition="C('yh_openjd') eq 1">

    <a class="lina" href="{:U('jd/index')}">
      <i class="iconfont tqk-jingdong4"></i>
      <span>京东券</span>
    </a>

    <else/>

    <a class="lina" href="{:U('top100/index')}">
      <i class="iconfont tqk-huo"></i>
      <span>热销榜</span>
    </a>

  </if>

  <a class="lina" href="{:U('user/ucenter')}">
    <i class="iconfont tqk-yonghu"></i>
    <span>我的</span>
  </a>

</div>