<include file="Public:head_nosearch" />
<!--header-->
<header data-am-widget="header" class="am-header am-header-default am-header-fixed">
    <div class="am-header-left am-header-nav">
        <a href="javascript:history.go(-1)"><i class="iconfont tqk-fanhui"></i></a>
    </div>
    <h1 class="am-header-title">订单明细</h1>
</header>
	<!--order-detail-->
	<div class="sort">
		<div class="am-g">
			<div class="am-u-sm-6 am-text-center">
				<input type="radio" id="all" name="details" class="am-hide" checked="checked"/>
				<label for="all"><a href="javascript:;">所有状态</a></label>
			</div>
			<div class="am-u-sm-6 am-text-center">
				<input type="radio" id="ysd" name="details" class="am-hide"/>
				<label for="ysd"><a href="javascript:;">昨日订单</a></label>
			</div>
		</div>
	</div>
	<div class="order-detail">
		<div class="order-item">
			<div class="order-tit">
				<p>下单时间：2017-11-08 18:19:15</p>
				<span class="am-badge am-badge-primary am-radius">已付款</span>
			</div>
			<div class="order-con">
				<p class="ellipsis-2">浴室拖鞋女居家用室内防滑厚底情侣家居拖鞋塑料洗澡凉拖鞋男夏天浴室拖鞋女居家用室内防滑厚底情侣家居拖鞋塑料洗澡凉拖鞋男夏天</p>
				<span>订单编号：12345678542</span>
			</div>
			<div class="order-bot flexbox am-text-center">
				<div class="order-num flex">付款金额：120.00</div>
				<div class="order-num flex">估计收益：120.00</div>
			</div>
		</div>
		<div class="order-item">
			<div class="order-tit">
				<p>下单时间：2017-11-08 18:19:15</p>
				<span class="am-badge am-badge-success am-radius">已结算</span>
			</div>
			<div class="order-con">
				<p class="ellipsis-2">浴室拖鞋女居家用室内防滑厚底情侣家居拖鞋塑料洗澡凉拖鞋男夏天浴室拖鞋女居家用室内防滑厚底情侣家居拖鞋塑料洗澡凉拖鞋男夏天</p>
				<span>订单编号：12345678542</span>
			</div>
			<div class="order-bot flexbox am-text-center">
				<div class="order-num flex">付款金额：120.00</div>
				<div class="order-num flex">估计收益：120.00</div>
			</div>
		</div>
		<div class="order-item">
			<div class="order-tit">
				<p>下单时间：2017-11-08 18:19:15</p>
				<span class="am-badge am-radius">已失效</span>
			</div>
			<div class="order-con">
				<p class="ellipsis-2">浴室拖鞋女居家用室内防滑厚底情侣家居拖鞋塑料洗澡凉拖鞋男夏天浴室拖鞋女居家用室内防滑厚底情侣家居拖鞋塑料洗澡凉拖鞋男夏天</p>
				<span>订单编号：12345678542</span>
			</div>
			<div class="order-bot flexbox am-text-center">
				<div class="order-num flex">付款金额：120.00</div>
				<div class="order-num flex">估计收益：120.00</div>
			</div>
		</div>
		<div class="order-item">
			<div class="order-tit">
				<p>下单时间：2017-11-08 18:19:15</p>
				<span class="am-badge am-badge-primary am-radius">已付款</span>
			</div>
			<div class="order-con">
				<p class="ellipsis-2">浴室拖鞋女居家用室内防滑厚底情侣家居拖鞋塑料洗澡凉拖鞋男夏天浴室拖鞋女居家用室内防滑厚底情侣家居拖鞋塑料洗澡凉拖鞋男夏天</p>
				<span>订单编号：12345678542</span>
			</div>
			<div class="order-bot flexbox am-text-center">
				<div class="order-num flex">付款金额：120.00</div>
				<div class="order-num flex">估计收益：120.00</div>
			</div>
		</div>
		<div class="order-item">
			<div class="order-tit">
				<p>下单时间：2017-11-08 18:19:15</p>
				<span class="am-badge am-badge-success am-radius">已结算</span>
			</div>
			<div class="order-con">
				<p class="ellipsis-2">浴室拖鞋女居家用室内防滑厚底情侣家居拖鞋塑料洗澡凉拖鞋男夏天浴室拖鞋女居家用室内防滑厚底情侣家居拖鞋塑料洗澡凉拖鞋男夏天</p>
				<span>订单编号：12345678542</span>
			</div>
			<div class="order-bot flexbox am-text-center">
				<div class="order-num flex">付款金额：120.00</div>
				<div class="order-num flex">估计收益：120.00</div>
			</div>
		</div>
		<div class="order-item">
			<div class="order-tit">
				<p>下单时间：2017-11-08 18:19:15</p>
				<span class="am-badge am-radius">已失效</span>
			</div>
			<div class="order-con">
				<p class="ellipsis-2">浴室拖鞋女居家用室内防滑厚底情侣家居拖鞋塑料洗澡凉拖鞋男夏天浴室拖鞋女居家用室内防滑厚底情侣家居拖鞋塑料洗澡凉拖鞋男夏天</p>
				<span>订单编号：12345678542</span>
			</div>
			<div class="order-bot flexbox am-text-center">
				<div class="order-num flex">付款金额：120.00</div>
				<div class="order-num flex">估计收益：120.00</div>
			</div>
		</div>
	</div>
		
	<script type="text/javascript">
		
	</script>
	</body>
</html>