<include file="Public:head_nosearch" />
	<main>
		<div class="user-bg">
			<div class="nav">
				<a href="javascript:history.go(-1);" class="iconfont tqk-fanhui back"></a>
				<h3>积分兑换</h3>
			</div>
			<div class="panel-wrap">
				<div class="panel">
					<div class="item">
						<h4><span>{$user.score}</span></h4>
						<p>可用积分</p>
					</div>
					<div class="item">
						<h4><span>{$integral}</span></h4>
						<p>待返积分</p>
					</div>
				</div>
				<a href="{:U('user/jifen')}" class="btn-white">我要兑换</a>
			</div>
		</div>
		<!--list-->
		<div class="wallet">
			<ul>
				<volist name="list" id="vo">
					<li>
						<div class="am-cf">
							<p class="am-fl"><em>日期</em>{$vo.create_time|frienddate}</p>
							<p class="am-fr"><em>获得积分</em>{$vo.integray}</p>
						</div>
						<p><em>说明</em>{$vo.remark}</p>
					</li>
				</volist>	
			</ul>
			<div class="page">
				<if condition="$total_item gt 10">
					{$page}
				</if>
			</div>
		</div>
	</main>
<include file="Public:foot" />
</body></html>
