<title>订单编号查看</title><include file="Public:head_nosearch" />
		<!--header-->
		<header data-am-widget="header" class="am-header am-header-default am-header-fixed">
		    <div class="am-header-left am-header-nav">
		        <a href="javascript:history.go(-1)"><i class="iconfont tqk-fanhui"></i></a>
		    </div>
		    <h3 class="am-header-title">订单编号查看</h3>
		</header>
		<main>
			<!--read-->
			<div class="article">
				<div class="title">
					<h3 class="ellipsis-2">如何查看商品订单编号</h3>
					<div class="am-cf">
					</div>
				</div>
				<div class="content" style="line-height: 200%;">
					<p>
					<b>一、手机淘宝查看订单编号</b>
					</p>
					<p>
					1、打开手机淘宝--&gt;我的淘宝--&gt;我的订单--&gt;查看更多订单
					</p>
					<p>
					选择订单进入订单详情（如下图）并复制订单编号<br/>
					<img alt src="__STATIC__/wap/images/static/59b6123f8acdd.jpg"/>
					</p>
					<p>
					<img alt src="__STATIC__/wap/images/static/59b6123f08b45.jpg"/>
					</p>
					<p>
					2、进入用户中心提交复制的订单编号
					</p>
					<p>
					<b>二、电脑淘宝查看订单编号</b><br/>
					1、登录电脑端淘宝--&gt;我的淘宝下选择已买到的宝贝（如下图）<br/>
					<img alt src="__STATIC__/wap/images/static/59b61391dbf70.jpg"/>
					</p>
					<p>
					2、订单列表中选择需要提交的商品订单并复制（如下图）
					</p>
					<p>
					<img alt src="__STATIC__/wap/images/static/59b613917477a.jpg"/>
					</p>
					<p>
					3、进入用户中心提交复制的订单编号
					</p>
				</div>
			</div>
		</main>
<include file="Public:foot" />	
</body></html>