<include file="Public:meta" />
<style>
.tqk-jingdong3{float: left; margin: 0; padding: 0; color: #ff2020;}
.goods-name{text-indent:6px}
</style>
		<div style="height:0;overflow:hidden;z-index: -1">
			<div class="canvas-mask" style="height: 461px; width: 300px; top: 0;">
				<div class="canvas-container">
					<div class="canvas-wrap">
						<div class="canvas-pics">
							<img src="{$item.imgUrl}" class="canvas-pic" />
						</div>
						<div class="am-padding-xs">
							<div class="am-padding-bottom-sm" style="width: 160px; float: left;">
								<i class="iconfont tqk-jingdong3"></i>
			                    <p class="goods-name">{$item.goodsName}</p>
							</div>
						<div class="am-fr am-padding-sm" style="width:100px;height:110px;padding:2px;font-size: 12px;color: #ff4901;line-height: 12px;border: 1px solid #ff4901;border-radius: 4px;text-align: center;">
										<img width="90" height="90" src="{:U('item/qrcode')}?dataurl={:urlencode($mdomain.U('jditem/jump',array('i'=>I('i'),'l'=>I('l'),'p'=>$item['coupon_price'],'q'=>$item['quan'])))}?t={$visitor.id}" />
									<div style=" clear: both; padding-top: 2px;">长按识别二维码</div>
								</div>
							<div class="am-cf am-padding-bottom-sm">
								<div class="am-fl">
									<p class="f-14 c-999">原价：<del>￥{:$item['unitPrice']}</del></p>
									
									<p class="f-14 maincolor lh-22">活动价：￥<span class="f-21">{:$item['coupon_price']}</span></p>
									
								</div>
								
								<div class="am-fr am-padding-sm">
									<if condition="$item['quan']">
									<div class="coupon-main">
										<p>{:$item['quan']}元优惠券</p>
									</div>
									</if>
								</div>
								
							</div>
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
		
			<!--detail-->
		<div class="detail wfg">
		
		<!--detail-slider-->
		<div class="detail-slider">
			<div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{"controlNav":false,"directionNav":false}' >
			 	<ul class="am-slides">
			 		
			 		  <li>
				        	<img src="{$item.imgUrl}" width="100%">
				        </li>
			    </ul>
			</div>
			<div class="detail-bill">
				<div data-am-widget="slider" class="am-slider am-slider-default" data-am-flexslider='{controlNav:false,directionNav:false,direction:"vertical",slideshowSpeed:2000}' >
				    <ul class="am-slides">
				    	<volist name="buyer" id="vo">
				        <li>
				        	<p class="am-text-truncate"><img src="{$vo.avatar}" width="100%">{$vo.nickname} {$vo.time}分钟前购买本产品</p>
				        </li>
				  </volist>
				    </ul>
				</div>
			</div>	
			<a href="javascript:history.go(-1)" class="iconfont tqk-fanhui detail-back"></a>
			<a href="javascript:;" class="detail-share canvasimg">分享</a>
			<if condition="($visitor or $isfanli eq 0) and $isfanli neq 2">
	                   <span class="share-info" >
	     	预计返￥ {:Rebate1($item['coupon_price']*$item['commission_rate']/100,$visitor['webmaster_rate'])}</span>
	                   </if>
		</div>
	    <!--detail-info-->
		<div class="detail-info">
			<div class="am-cf">
				<p class="f-15 maincolor am-fl">活动价<span class="f-21">{:$item['coupon_price']}</span>元</p>
				
			</div>
			<div>
				<i class="iconfont tqk-jingdong3"></i>
				<p class="goods-name am-text-truncate">{$item.goodsName}</p>
			</div>
			<div>
				<p class="rights-item"><i class="iconfont tqk-duihao2"></i>全场包邮</p>
				<p class="rights-item"><i class="iconfont tqk-duihao2"></i>7天退换</p>
				<p class="rights-item"><i class="iconfont tqk-duihao2"></i>48小时发货</p>
			</div>
			<div class="am-cf am-padding-top-sm am-padding-bottom-sm">
				<p class="f-12 c-333 am-fl am-margin-right">现价：<span class="c-pink">￥{:$item['unitPrice']}</span></p>
				
			</div>
<if condition="$islogin && !$visitor && $item['quan'] gt 0">
		<a href="javascript:;" class="detail-coupon islogin">
			<p><span>{:$item['quan']}</span>元优惠券</p>
				<p>领券下单</p>
			</a>
<elseif condition="$item['quan'] gt 0"/>
			<a target="_blank" href="{:$item['click_url']}" class="detail-coupon">
				<p><span>{:$item['quan']}</span>元优惠券</p>
				<p>领券下单</p>
			</a>
</if>	

		</div>
		<!--report-->
		<!-- <div class="wbg card report am-cf">
			<ul>
				<li>
					<a href="{:U('baoming/index')}"><i class="iconfont tqk-shangjia"></i>卖家报名</a>
				</li>
				<li>
					<a href="{:U('baoming/jubao',array('num_iid'=>$item['num_iid']))}"><i class="iconfont tqk-jubao"></i>举报此商品</a>
				</li>
			</ul>
		</div> -->
		
		<div class="picture card" id="details">
			<div class="picture-wrap-">
				<!--detail-shop-->
				<div class="detail-wrap">
					<div class="detail-title">
						<img src="__STATIC__/wap/images/icon/title-l.png" width="18" height="20"/>
						<p>图文详情</p>
						<img src="__STATIC__/wap/images/icon/title-r.png" width="18" height="20"/>
					</div>
					<div class="picture-content" style="overflow: hidden;">
						
						<volist name="item.detailImages" id="vi" >
						<img src="{$vi}" style="max-width: 800px;">
						 </volist>
						
					</div>
				</div>
					
			</div>
		</div>
		
		<!-- goods -->
	    <div class="goods-wrap" id="recommend">
	       <div class="goods-title"><div class="btn-violet-gradient btn-tag btn-md">同类商品推荐</div><div class="f-12 c-666">百万商品实时更新</div></div>
	       <div class="goods">
	            
	            <volist name="orlike" id="vo">
	            <div class="goods-item">
	               <div class="goods-pic">
	                <a href="{:U('jditem/index',array('id'=>$vo['itemid']))}{$trackurl}"><img src="{$vo.pict}" width="100%" class="goods-img">
	                </a>
	                 <if condition="($visitor or $isfanli eq 0) and $isfanli neq 2">
	                   <span class="share-info" >
	    	预计返￥ {:Rebate1($vo['coupon_price']*$vo['commission_rate']/100,$visitor['webmaster_rate'])}</span>
	                   </if>
	               </div>
	               <div class="goods-info">
	                   <i class="iconfont tqk-jingdong3"></i>
	                   <p class="goods-name ellipsis-2">{$vo.title}</p>
	               </div>
	               <div class="goods-mid">
	                   <p class="f-12 c-999">现价 ￥{$vo.price}</p>
	                   <p class="goods-share maincolor">
	                   		{$vo.comments}评论
	                   </p>
	               </div>
	               <div class="goods-bot">
	                   <p class="f-12 c-666"><span class="maincolor">{:$vo['coupon_price']}</span>元</p>
	                  
<if condition="$vo['item_type'] eq 3">
 <div class="goods-coupon"><p class="f-10 c-white">秒杀</p></div>
<elseif condition="$vo['item_type'] eq 2"/>
 <div class="goods-coupon"><p class="f-10 c-white">拼购</p>  </div>
<elseif condition="$vo['quan'] gt 0"/>
 <div class="goods-coupon"><p class="f-10 c-white">{$vo.quan}元券</p>  </div>
</if>
	                       
	                       
	                 
	               </div>
	            </div>
	            </volist>
	       </div>
	    </div>
		</div>		
		<!--footer-->
		<div data-am-widget="navbar" class="am-navbar am-cf footer-action">
			<a href="/" class="foot-cell"><i class="iconfont tqk-shouye"></i><span class="am-navbar-label">首页</span></a>
			<a href="javascript:;" class="foot-cell canvasimg" id="share"><i class="iconfont tqk-iconfontzhizuobiaozhun20"></i><span class="am-navbar-label">分享</span></a>
			
			<if condition="$islogin && !$visitor">
				<a href="javascript:;" class="collect islogin">立即查看</a>
				<else/>
			<a href="{:$item['click_url']}" class="collect">立即查看</a>
			</if>
		</div>
        <div data-am-widget="gotop" class="am-gotop am-gotop-fixed" >
		    <a href="#top"><i class="iconfont tqk-top"></i><span>顶部</span></a>
		</div>
		<div class="save">
			<div class="savemask">
				<div class="savewrap">
					<div class="saveline">
						<img src="__STATIC__/wap/images/icon/icon-thumb.png" class="icon-thumb"/>
						<p class="f-21 c-white savecopy">长按虚线区域可以<br/>保存图片或分享给好友</p>
						<img src="__STATIC__/wap/images/icon/icon-wire.png" class="icon-wire"/>
					</div>
				</div>
			</div>
		</div>
<tqkjs  href="__STATIC__/wap/js/jquery.min.js,__STATIC__/wap/js/amazeui.min.js,__STATIC__/wap/js/clipboard.min.js,__STATIC__/wap/layer/layer.js,__STATIC__/wap/js/html2canvas.js"/>
<script type="text/javascript">
function $$(selector) {
        return document.querySelector(selector);
    }
	$('.islogin').on('click', function(e) {
		layer.alert('请登录后再领券！',function(){
		
		window.location.href='{:U("login/index")}';
			
		});
	});
  var main = {
        init:function(){
            main.setListener();
        },
        setListener:function(){
            $(".canvasimg").on("click", function() {
            	$(".saveline").width($(".canvas-wrap").width())
				$(".saveline").height($(".canvas-wrap").height())
              var index = layer.msg('正在为您生成图片,请稍后！',{time:10000}); 
               main.html2Canvas(index);
            });
        },
        getPixelRatio:function(context){
            var backingStore = context.backingStorePixelRatio ||
                    context.webkitBackingStorePixelRatio ||
                    context.mozBackingStorePixelRatio ||
                    context.msBackingStorePixelRatio ||
                    context.oBackingStorePixelRatio ||
                    context.backingStorePixelRatio || 1;
            return (window.devicePixelRatio || 1) / backingStore;
        },
        html2Canvas: function (index) {
            var shareContent = $$(".canvas-mask");
            var canvas = document.createElement('canvas'); 
            var context = canvas.getContext('2d');
            width=300;
            height=461;
            offsetTop=0;
            scaleBy=2;
            canvas.width = width * scaleBy; 
            canvas.height = (height + offsetTop) * scaleBy; 
            context.scale(scaleBy, scaleBy);
            var opts = {
                allowTaint:false,
                useCORS:true,
                tainttest:true, 
                scale:scaleBy, 
                canvas:canvas, 
               logging: false, 
                width:width,
                height:height
            };
            html2canvas(shareContent, opts).then(function (canvas) {
            	var dataUrl = canvas.toDataURL("image/png");
            	var html = '<div class="canvas-mask" style="width:300px;height:461px;">'+
								'<img width="300" src="'+dataUrl+'" class="kele-shared-modal">'+
								'</div>'+
								'<div class="canvas-nav">'+
						        '<ul class="am-avg-sm-3">'+
							    '<li class="nav-orange"><a href="javascript:;" id="canvasClose"><i class="iconfont icon-close_icon"></i>关闭</a></li>'+
							    '<li class="nav-violet"><a href="javascript:;" id="canvasCopy"><i class="iconfont icon-wenjianxinxi"></i>复制文案</a></li>'+
								'<li class="nav-green"><a href="javascript:;" id="canvasSave"><i class="iconfont icon-baocun"></i>保存图片</a></li>'+
								'</ul>'+
								'</div>';
			    layer.close(index);
             	layer.open({
									type: 1,
									title: false,
									area: '100%',
									shadeClose:true,
									closeBtn: 0,
									scrollbar: false,
									fixed: true,
									content: html,
									skin:'canvas-layer',
									success: function(layero, index){
										$("html,body").addClass("lock")
									    $("#canvasClose").on("click",function(){
											layer.close(index)
										})
									    $(".canvas-mask").on("click",function(e){
											var target  = $(e.target);
											if(target.closest(".kele-shared-modal").length == 0){
												layer.close(index)
											};
											e.stopPropagation();
										})
					
									},
									end: function(){
										$("html,body").removeClass("lock")
									}
								});
					$("#canvasSave").on("click",function(){
									layer.open({
										type: 1,
										title: false,
										area: '100%',
										offset: '0px',
										shadeClose:true,
										closeBtn: 0,
										scrollbar: false,
										fixed: true,
										content: $(".save"),
										skin:'save-layer',
										success: function(layero, index){
											$("html,body").addClass("lock")
											$(".save-layer").on("click",function(){
												layer.close(index)
											})
										}
									});
								})
								var clipboard = new ClipboardJS("#canvasCopy", {
							        text: function() {
							             return '{$item.title}（包邮） \n 【原价】{:$item["coupon_price"]+$item["quan"]}元  \n  【活动价】{:$item["coupon_price"]}元 \n 活动链接：{:$mdomain.U("jditem/jump",array("i"=>I("i"),"l"=>I("l"),"p"=>$item["coupon_price"],"q"=>$item["quan"]))}?t={:I("t")}';
							        }
							    });
							    $("#canvasCopy").on("click",function(){
									layer.msg('复制成功',{time:1000});
								})
            	
            });
        }
    };
    
    main.init();	
		</script>
<include file="Public:stat" />
	</body>
</html>
