<include file="Public:top" />
<body>
	<include file="Public:head" />
	<!--wrap-->
	<div class="wrap">
		<div class="container cl">
			<div class="headlines-l">
				<div class="shai-wrap">
					<div class="shai-tit">
						<h4>晒单赚积分教程</h4>
					</div>
					<div class="shai-con">
						<img src="__STATIC__/tqkpc/images/course.jpg" class="img-responsive"/>
					</div>			
				</div>
			</div>
			<div class="headlines-r">
				<!--shai-->
				<div class="white-bar mb-20">
					<div class="shai-icon">
						<a href="{:U('user/order')}{$trackurl}" class="btn btn-main mb-20" title=""><i class="iconfont icon-camera"></i>我要晒单赚积分</a> 
						<a href="{:U('basklist/course')}{$trackurl}" class="btn btn-main-outline" title=""><i class="iconfont icon-zhangdan"></i>晒单赚积分教程</a> 
					</div>
					<div class="jifendaren pd-15">
						<img src="__STATIC__/tqkpc/images/jifendaren.png" class="mb-10"/>
						<ul>
							<volist name="talent" id="vo">
								<li>
									<img src="{$vo.avatar}"/>
									<span>{$vo.nickname}</span>
									<b class="c-main f-r">+{$vo.integray}</b>
								</li>
							</volist>
						</ul>
					</div>
				</div>
				<!--youhaohuo-->
				<div class="white-bar pd-15">
					<img src="__STATIC__/tqkpc/images/youhaohuo.png" class="mb-20"/>
					<ul>
						<volist name="sellers" id="vo">
							<li>
								<div class="row cl">
									<div class="col-sm-4 col-xs-4">
										<a rel="nofollow" href="{:U('/item/',array('id'=>$vo['id']))}{$trackurl}" target="_blank"><img src="{$vo.pic_url}_300x300" alt="" width="90" height="90"/></a>
									</div>
									<div class="col-sm-8 col-xs-8">
										<a  rel="nofollow" href="{:U('/item/',array('id'=>$vo['id']))}{$trackurl}" target="_blank" class="tit">{$vo.title}</a>
										<p class="c-red f-14">券后价：￥{$vo.coupon_price}</p>
										<p class="f-12 mt-5"><img src="__STATIC__/tqkpc/images/tmall.png" class="va-t mr-5"/>月销<span class="c-primary">{$vo.volume}</span>件</p>
									</div>
								</div>
							</li>
						</volist>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<include file="Public:foot" />
</body>
</html>