<extend name="Public/base"/>

<block name="header">
    <li class="active"><a href="javascript:;">安装协议</a></li>
    <li class="active"><a href="javascript:;">环境检测</a></li>
    <li class="active"><a href="javascript:;">创建数据库</a></li>
    <li class="active"><a href="javascript:;">安装</a></li>
    <li class="active"><a href="javascript:;">完成</a></li>
</block>

<block name="body">
	<div style="min-height: 700px; line-height: 200%;">
    <h3>完成</h3>
    <p>安装完成！</p>
    
    <div>
    <a class="btn btn-primary btn-sm" href="/admin.php">登录后台</a>
    <a class="btn btn-success btn-sm" href="/index.php">访问首页</a>
    </div>
    
	<present name="info">
	{$info}
	</present>
	</div>
</block>
