<extend name="Public/base"/>

<block name="header">
    <li class="active"><a href="javascript:;">安装协议</a></li>
    <li><a href="javascript:;">环境检测</a></li>
    <li><a href="javascript:;">创建数据库</a></li>
    <li><a href="javascript:;">安装</a></li>
    <li><a href="javascript:;">完成</a></li>
</block>

<block name="body">
	<div style="min-height: 700px; line-height: 200%;">
<h3>推券客CMS安装协议</h3>
<br/>
<br/>
欢迎加入推券客联盟,推券客CMS是由推券客团队开发维护的一款专业淘客软件，希望我们的努力可以为您创造价值。
<br/>
为了使您正确并合法的使用本软件，请您在使用前务必阅读清楚下面的协议条款：
<br/>
1.在未经推券客书面明确授权不得，出售、出租、出借、散布、转移或转授权软件和服务或相关的链接或从使用软件和服务或软件和服务的条款中获利，
无论以上使用是否为直接经济或金钱收益。
<br/>
2.不得利用本“软件”发表、传送、传播、储存违反国家法律、危害国家安全、祖国统一、社会稳定、公序良俗的内容，或任何不当的、侮辱诽谤的、淫秽的、
暴力的及任何违反国家法律法规政策的内容。
<br />
3.不得利用本“软件”发表、传送、传播、储存侵害他人知识产权、商业秘密权等合法权利的内容；
<br />
4. 使用本“软件”由用户自己承担风险，推券客及合作单位对本“软件”不作任何类型的担保，不论是明示的
、默示的或法令的保证和条件，包括但不限于本“软件”的适销性、适用性、无病毒、无疏忽或无技术瑕疵问题、所有权和无侵权的明示或默示担保和条件，
对在任何情况下因使用或不能使用本软件所产生的直接、间接、偶然、特殊及后续的损害及风险，推券客及合作单位不承担任何责任。
<br/>
5. 使用本“软件”涉及到互联网服务，可能会受到各个环节不稳定因素的影响，存在因不可抗力、计算机病毒、黑客攻击、系统不稳定、用户所在位置、用户关机，
非法内容信息、骚扰信息屏蔽以及其他任何网络、技术、通信线路、信息安全管理措施等原因造成的服务中断、受阻等不能满足用户要求的风险，
用户须明白并自行承担以上风险，用户因此不能发送或接收阅读消息，或接、发错消息，推券客及合作单位不承担任何责任。
</div>
</block>

<block name="footer">
    <a class="btn btn-large" style="background: white;border-radius: 0.3em;width: 100px" href="http://www.tuiquanke.com">不同意</a>
       <a class="btn btn-primary btn-large" href="{:U('Install/step1')}">同意安装</a>
</block>