<include file="Public:top" />
	<body>
<include file="Public:head" />
<div class="wrap container cl ">
<div class="sorting cl fd_mz">
					<div class="sorting-s cl">
						<a href="{:U("ershi/index",array('sort'=>'new','cid'=>$cid,'k'=>urldecode($k)))}" <if condition='$txt_sort eq "new"'>class="c-red"</if> data-value="">综合排序</a>
						<a href="{:U("ershi/index",array('sort'=>'hot','cid'=>$cid,'k'=>urldecode($k)))}" class="sort <if condition='$txt_sort eq "hot"'>c-red</if> " data-value="volume">销量排序</a>
						<a href="{:U("ershi/index",array('sort'=>'rate','cid'=>$cid,'k'=>urldecode($k)))}" class="sort <if condition='$txt_sort eq "rate"'>c-red</if> " data-value="price">优惠金额</a>
					</div>
				<script>
					$('.sort').on('click', function() {
						$('input[name=sort]').val($(this).data('value'));
						$('.sort').removeClass('c-red');
						$(this).addClass('c-red');
					});
			
				</script>
			</div>	
<include file="Public:list" />	
</div>
<include file="Public:foot" />
	</body>
</html>
